/* Default styles for larger screens */
.dialog-content {
  display: flex;
  height: 100%;
  position: relative;
}
.closeIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.benefitsContainer {
  margin-top: 40px;
}

.section1 {
  flex: 1;
  padding: 20px;
  background-color: #f0ecec;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

.logo img {
  max-width: 18%;
  height: auto;
}

.mat-tab-group {
  width: 100%;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  margin-top: 80px;
}

button {
  margin: 10px;
  max-width: 300px;
  width: 100%;
}

.section2 {
  flex: 1;
  padding: 20px;
  background-color: #ece1e1;
}
.welcomeImages {
  margin-bottom: 20px;
  text-align: center;
}
.welcomeImages img {
  max-width: 100%;
  height: 700px;
}

.facebook-login-button {
  background-color: #4267b2;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.facebook-login-button:hover {
  background-color: #345491;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .logo img {
    max-width: 50%;
  }

  .auth-container {
    height: auto;
  }

  button {
    max-width: none;
  }

  .section2 {
    display: none;
  }
  .benefitsContainer {
    margin-top: 80px;
  }
}

.mat-tab-label-active {
  background-color: #ff8800 !important;
  color: #ffffff;
}
