<!-- <div class="paymentCard"> -->
<!-- <app-payment-card></app-payment-card> -->
<!-- </div> -->

<!-- <app-confirmation-dialog></app-confirmation-dialog> -->
<div class="sticky-wrapper">
  <app-payment-card></app-payment-card>
</div>
<div class="container">
  <div class="member-banner-section">
    <div class="block-fill">
      <div class="image-section">
        <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
      </div>
      <div class="text-section">
        <h4>Become a Quint Member</h4>
        <div class="straight"></div>
        <p>
          The Quint's special projects, investigations, and fact-checks make us
          stand out in the clutter of mainstream media. But producing these
          stories takes up time, resources, and risks borne by our on-ground
          reporters. And that's where our Quint Members come in. By financially
          empowering our journalism, it is YOU who ensure that these stories
          reach a wider audience and keep independent journalism alive.
        </p>
      </div>
    </div>
    <div class="empty-block"></div>
  </div>
</div>
<section class="member-benefit-block">
  <div class="container">
    <h2 class="member-benefits">MEMBER BENEFITS</h2>
  </div>
</section>
<section>
  <div class="container">
    <div class="member-benefit-section">
      <div class="mbblock-fill-contain">
        <div class="mbblock-fill rev-flex">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0030.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Access to all paywalled content on site</h3>
            <p>
              Priority pass to unlimited stories, op-eds, videos, podcasts, and
              more across The Quint
            </p>
          </div>
        </div>
        <div class="mbblock-fill">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0040.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Ad-free experience on The Quint</h3>
            <p>
              Enjoy seamless & insightful content without ad interruptions
              across all devices
            </p>
          </div>
        </div>
        <div class="mbblock-fill rev-flex">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0041.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Early previews of our Special Projects</h3>
            <p>
              Get exclusive previews to all documentaries, investigations, and
              special features, before online release
            </p>
          </div>
        </div>
        <div class="mbblock-fill">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0042.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Report for us as a Citizen Journalist</h3>
            <p>
              Work with our MyReport team to highlight issues and stories that
              matter to you
            </p>
          </div>
        </div>
        <div class="mbblock-fill rev-flex">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Get fake news verified by Team WebQoof</h3>
            <p>
              Want to get a suspicious story checked out? WhatsApp it to Team
              WebQoof, and we’ll get it done
            </p>
          </div>
        </div>
        <div class="mbblock-fill">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Credit mention in our Special Projects</h3>
            <p>
              As a Premium Member, your name will be featured on the credit roll
              of our Special Projects
            </p>
          </div>
        </div>
        <div class="mbblock-fill rev-flex">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Exclusive goodie bag</h3>
            <p>
              Limited-edition merchandise from The Quint curated by our in-house
              artists for all Premium Members
            </p>
          </div>
        </div>
        <div class="mbblock-fill">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Write for our Members' Opinion column</h3>
            <p>
              Share your thoughts with the world through an exclusive column for
              all Premium Members
            </p>
          </div>
        </div>
        <div class="mbblock-fill rev-flex">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Private members’ group</h3>
            <p>
              An exclusive group where you can interact with our reporters,
              discover new stories, and share your feedback
            </p>
          </div>
        </div>
        <div class="mbblock-fill">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Exclusive member events</h3>
            <p>
              Invites to Q-Screenings, editorial, brainstorms, expert sessions,
              and other online and offline events
            </p>
          </div>
        </div>
        <div class="mbblock-fill rev-flex">
          <div class="image-section">
            <img class="svg-icon12" alt="" src="../../../../assets/images/IMG-20240305-WA0047.jpg" />
          </div>
          <div class="text-section">
            <div class="straight"></div>
            <h3>Curated members-only newsletters</h3>
            <p>
              Behind-the-story insights, upcoming campaigns, event highlights,
              and news roundups, curated just for you
            </p>
          </div>
        </div>
      </div>
      <div class="empty-block"></div>
    </div>
  </div>
</section>
<section class="supporting-special">
  <div class="div-2y1yr">
    <div class="div-2vn4g1">
      <div class="div-4fls1">
        <div class="or1">OR</div>
      </div>
      <div class="div-3zqx1">
        <div class="become-a-member1">Become a member by</div>
        <div class="supporting-our-special1">
          supporting our special projects
        </div>
      </div>
    </div>
  </div>
</section>
