<section
  class="home-entertain-block"
  [ngClass]="{ 'dark-mode': darkMode, 'light-mode': !darkMode }"
>
  <div class="container">
    <div
      class="entertain-block detailed-vid-blockk"
      *ngFor="let videosItems of VideoObject; let i = index"
    >
      <div class="entertain-inner-block">
        <div class="entertain-title">
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            <!-- {{ "videos" | translate }} -->
          </h2>
          <div></div>
        </div>
        <div
          class="entertain-image-block"
          (click)="navigateVideos(videosItems?.slug)"
        >
          <img [src]="getFullImagePath(videosItems?.image)" />
        </div>
      </div>
      <div class="entertain-headlines-outer-block">
        <div
          class="enterheadline-block-left enterblock-shadow"
          (click)="navigateVideos(videosItems?.slug)"
        >
          <h2
            (click)="navigateVideos(videosItems?.slug)"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ videosItems?.title }}
          </h2>
          <span class="shortDesc">
            {{ videosItems?.short_description }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
