<div class="container">
  <button class="close-button" (click)="close()">X</button>
  <swiper-container
    loop="true"
    navigation="true"
    (swiperIndexChanged)="updateIndex($event)"
  >
    @for (item of dialogData; track $index) {
    <swiper-slide class="images swiperimg">
      <img [src]="imageBaseURL + item.image" alt="" class="smaller-image" />
      <span class="counter">{{ $index + 1 }} / {{ dialogData.length }}</span>
      <span>
        <h2 class="imageDesc">{{ item?.image_description }}</h2>
      </span>
    </swiper-slide>
    }
  </swiper-container>
</div>
