<!-- <html> -->
<!-- <head> </head> -->

<section data-rsssl="1" class="style-0">
  <div class="style-1" data-uw-feature-ignore="true" title="Accessibility Menu">
    <div class="style-2">
      <div
        class="style-3"
        aria-label="Translations Menu"
        role="button"
        tabindex="0"
        aria-haspopup="dialog"
        data-uw-s19-ignore=""
        title="Translations Menu"
      >
        <span class="style-4"></span>
        <div class="style-5">
          <img
            width="43"
            height="43"
            data-uw-rm-ignore=""
            class="style-6"
            aria-hidden="true"
            alt="Spinner: White decorative"
            src="https://cdn.userway.org/widgetapp/images/spin_wh.svg"
          />
        </div>
        <span class="style-7"></span
        ><img
          class="style-8"
          data-uw-rm-ignore=""
          data-uw-ignore-s25="true"
          width="18"
          height="20"
          alt="Accessibility menu is on"
          src="https://cdn.userway.org/widgetapp/images/check_on.svg"
        />
        <div class="style-9"></div>
      </div>
      <div
        class="style-10"
        aria-label="Accessibility Menu"
        role="button"
        tabindex="0"
        aria-haspopup="dialog"
        title="Accessibility Menu"
      >
        <div class="style-13">
          <img
            width="43"
            height="43"
            data-uw-rm-ignore=""
            class="style-14"
            aria-hidden="true"
            alt="Spinner: White decorative"
            src="https://cdn.userway.org/widgetapp/images/spin_wh.svg"
          />
        </div>
        <span class="style-15"></span
        ><img
          class="style-16"
          data-uw-rm-ignore=""
          data-uw-ignore-s25="true"
          width="18"
          height="20"
          alt="Accessibility menu is on"
          src="https://cdn.userway.org/widgetapp/images/check_on.svg"
        />
        <div class="style-17"></div>
      </div>
    </div>
    <iframe
      class="style-18"
      data-uw-ignore-translate="true"
      name="userway"
      title="UserWay Accessibility Menu"
    ></iframe>
  </div>
  <div class="style-19"></div>
  <div class="style-20"></div>
  <div class="style-21"></div>
  <div class="style-22">
    <div class="style-23"></div>
  </div>
  <div class="style-24" aria-hidden="true"></div>

  <div class="style-329"></div>
  <div class="style-330">
    <article class="style-331">
      <div class="style-332">
        <div class="style-333">
          <hr class="style-334" />
          <h1
            class="style-335"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ "IDENTITY" | translate }}
          </h1>
        </div>
        <div class="style-336">
          <h3 class="style-337">{{ "Why BaiManus" | translate }}</h3>
          <p class="style-338" *ngIf="type == 'english'">
            It is a fact that in developing states like Maharashtra, media still
            hasn&#39;t reached out to millions of citizens, mainly those living
            in remote and rural areas. Dalits, tribals, nomads and lakhs of
            farmers and farm laborers in rural areas can be mentioned as many
            elements of the society. The existing media seems to be dependent
            more on male and elitists. This male-facing medium tends to place
            news of particular class, caste and gender. News is always designed
            with the majority at priority. This is why Mahatma Gandhi Mission
            (MGM) University aims to change the established definition of
            &#39;journalists&#39; to raise the voice of women from all parts of
            the state with the help of new communication media of modern
            technology, to provide them with the right platform from their daily
            life to express the whole space around them in their language,
            senior journalist Prashant Pawar &amp; MGM University College of
            Journalism and Mass Communication have launched BaiManus an
            ambitious and innovative digital media platform.
          </p>
          <p class="style-338" *ngIf="type == 'marathi'">
            महाराष्ट्रासारख्या विकसनशील राज्यात खास करून दुर्गम आणि ग्रामीण
            भागात राहणाऱ्या लाखो नागरिकांपर्यंत अजूनही माध्यमे पोहोचली नाहीत हे
            वास्तव आहे. विशेषतः दलित, आदिवासी, भटके विमुक्त आणि ग्रामीण भागातील
            लाखो शेतकरी-शेतमजूर असे अनेक समाजातील घटक सांगता येतील. याशिवाय
            अस्तित्वात असणाऱ्या बहुतांश माध्यमांचा सगळा व्यवहार हा पुरुषी आणि
            अभिजन असल्यासारखा आहे. पुरुषी चेहरा असलेल्या या माध्यमात विशिष्ट
            वर्गाच्या, जातीच्या आणि लिंगाच्याचं बातम्यांना स्थान दिलेले असते.
            नेहमीच बहुसंख्यांचा विचार करून बातम्यांची रचना केली जाते. यामुळेच
            पत्रकारांची प्रस्थापित असणारी व्याख्या बदलण्याचा प्रयत्न करून आधुनिक
            तंत्रज्ञानाच्या नव्या संवाद-माध्यमांच्या मदतीने राज्यातील सर्व
            घटकांतील महिलांचा आवाज बुलंद करण्यासाठी, त्यांच्या रोजच्या
            जगण्यापासून ते त्यांच्या आजूबाजूचा पूर्ण अवकाश त्यांच्या भाषेत
            व्यक्त करता यावा यासाठी वरिष्ठ पत्रकार प्रशांत पवार आणि एमजीएम
            विद्यापिठाचे वृत्तपत्रविद्या आणि जनसंवाद महाविद्यालयाने बाईमाणूस या
            डिजिटल मीडिया हाऊसची निर्मित केली.
          </p>

          <h3 class="style-341">{{ "Mission" | translate }}</h3>
          <p class="style-342" *ngIf="type == 'english'">
            It is an attempt to perform independent journalism without any
            ideological, economic or political yoke. The aim of the website 
            baimanus.in  is to perform journalism that is honest to our soil and
            people. Journalism that emphasizes common man. The agenda of
            &#39;BaiManus&#39; is not one of popular appeal but of
            people-oriented journalism that prioritizes people&#39;s issues,
            questions and interests. A deluge of information is constantly
            coming in front of us in one way or another. So often our situation
            is like standing in the middle of a lot of noise. Thus
            &#39;Baimanus&#39; aims at giving a view of how to look at all this,
            what to grasp from it and what not.
          </p>
          <p class="style-342" *ngIf="type == 'marathi'">
            कोणतेही वैचारिक, आर्थिक, राजकीय जोखड नसलेल्या स्वतंत्र पत्रकारितेचा
            हा एक प्रयत्न आहे.  baimanus.in  या वेबसाईटचा उद्देश आपली माती आणि
            माणसांशी इमान राखणारी पत्रकारिता करण्याचा आहे. सामान्य माणूस
            केंद्रित पत्रकारिता करण्यावर भर देणारा आहे. &#39;बाईमाणूस&#39;चा
            अजेंडा लोकानुनय करणारा नाही पण लोकांचे प्रश्न, मुद्दे आणि हित याला
            प्राधान्य देणाऱ्या लोकाभिमुखी पत्रकारितेचा आहे. माहितीचा महापूर सतत
            या ना त्या माध्यमातून आपल्यासमोर येतो आहे. त्यामुळे अनेकदा आपली
            अवस्था भर कोलाहलाच्या मधोमध उभी असल्यासारखी होते. त्यामुळे या
            सर्वांकडे कसे पाहावे, त्यातून काय घ्यावे आणि काय नाही, याचा
            दृष्टिकोन देण्याचे काम &#39;बाईमाणूस&#39; करत आहे.
          </p>

          <!-- <h3 class="style-346">{{ "Board" | translate }}</h3>
          <p class="style-347" *ngIf="type == 'english'">
            Prashant Pawar Director &amp; Editor, BaiManus Hearty welcome at
            ‘Baimanus&#39; webportal and its other social media platforms. The
            platform &#39;BaiManus&#39; is a first-of-its-kind experiment in
            Maharashtra to raise the voice of the voiceless groups in media.
            Along with urbanization, rural areas need to be given priority. This
            is why the platform &#39;BaiManus&#39; has come into existence. The
            power of &#39;social network&#39; is now being felt. We want this
            new medium of ours to be a true platform of the people, a medium of
            struggle against the common farmers and the exploitative system.
            BaiManus&#39; is a montage of people breaking a new path in the
            media who see such &quot;new dreams.&quot; BaiManus is an online and
            &#39;grassroots&#39; movement of social, cultural, and political
            affairs. Every rural and urban citizen should be a part of it.
            Prashant Pawar has worked as Assistant Editor in Dainik Loksatta for
            sixteen years and also worked as Editor of Rasik Purvani of Dainik
            Divya Marathi for 10 years. Prashant Pawar is one of the journalists
            who are following a different path in Maharashtra, rooting the
            cultural, literary, and social movement outside the periphery of
            Maharashtra.
          </p>
          <p class="style-347" *ngIf="type == 'marathi'">
            &#39;बाईमाणूस&#39; या मराठी वेबपोर्टलवर आणि इतर सोशल मीडियाच्या
            प्लॅटफॉर्मवर आपले मनापासून स्वागत. &#39;बाईमाणूस&#39; हे व्यासपीठ
            आवाज नसलेल्या समूहांचा माध्यमांमधील आवाज वाढवण्यासाठीचा या
            महाराष्ट्रातला पहिलाच प्रयोग आहे. शहरीकरणासोबतच ग्रामीण भागाकडे
            प्राधान्यानं लक्ष देण्याची गरज आहे. यासाठीच &#39;बाईमाणूस&#39; हे
            व्यासपीठ आकारास आले आहे. &quot;सोशल नेटवर्क&quot; या शब्दाची ताकद
            आताशा जाणवू लागली आहे. आपले हे नवे माध्यम ख-या अर्थानं जनतेचे
            व्यासपीठ व्हावे, सामान्य शेतकरी आणि शोषण व्यवस्थेच्या विरोधातील
            संघर्षाचे माध्यम व्हावे, अशी आमची इच्छा आहे. &#39;बाईमाणूस&#39; हे
            असे &quot;नवे स्वप्नं&quot; बघणा-या माध्यमांमध्ये वेगळी वाट
            धुंडाळणाऱ्या माणसांचे मोहोळ आहे. &#39;बाईमाणूस&#39; ही सामाजिक,
            सांस्कृतिक आणि राजकीय घडामोडींची ऑनलाइन आणि &#39;ग्रासरूट&#39; चळवळ
            आहे. यामध्ये प्रत्येक ग्रामीण आणि शहरी नागरिकाने सहभागी व्हावे.
            प्रशांत पवार यांनी दैनिक लोकसत्ता मध्ये सहाय्यक संपादक म्हणून सोळा
            वर्षे काम केले आहे त्याचबरोबर दैनिक दिव्य मराठीच्या रसिक पुरवणीचे
            संपाद्क म्हणून १० वर्षे काम केले आहे. महाराष्ट्रातील वेगळ्या वाटेवर
            चालणाऱ्या , महाराष्ट्राची परिघाबाहेरील सांस्कृतिक , साहित्यिक ,
            सामाजिक चळवळीला रुजविणाऱ्या पत्रकारांपैकी प्रशांत पवार हे एक आहेत.
          </p> -->

          <!-- <div class="style-350">
              <div class="style-351">
                <h3 class="style-352">
                  <strong class="style-353">2000+</strong>
                </h3>
                <p class="style-354">articles in 5 years</p>
              </div>
              <div class="style-355">
                <h3 class="style-356">
                  <strong class="style-357">26%</strong>
                </h3>
                <p class="style-358">on under-discussed topics</p>
              </div>
              <div class="style-359">
                <h3 class="style-360"><strong class="style-361">28</strong></h3>
                <p class="style-362">states covered</p>
              </div>
            </div> -->
          <!-- <h3 class="style-363">Whom we serve</h3>
            <p class="style-364">
              IDR is for anyone who is interested in driving social change in
              India. Our readers span the development community across
              India—from large metros to smaller towns and far-flung districts.
            </p> -->
          <!-- <div class="style-365">
              <div class="style-366">
                <h3 class="style-367">
                  <strong class="style-368">53%</strong>
                </h3>
                <p class="style-369">
                  of IDR readers and contributors are women
                </p>
              </div>
              <div class="style-370">
                <h3 class="style-371">
                  <strong class="style-372">41%</strong>
                </h3>
                <p class="style-373">
                  of our readers fall between the ages of 25 and 34&nbsp;
                </p>
              </div>
              <div class="style-374">
                <h3 class="style-375"><strong class="style-376">36</strong></h3>
                <p class="style-377">
                  states and union territories reached (in terms of IDR readers)
                </p>
              </div>
            </div>
            <h3 class="style-378">How we work</h3>
            <p class="style-379">
              Our community of contributors includes experts, practitioners,
              donors, development thinkers and researchers, grassroots workers,
              and activists. When writing for IDR, they are placing their trust
              in us as a platform that will responsibly and effectively tell
              their stories, and share their expertise.
            </p> -->
          <!-- <p class="style-380">
              We consider this trust a privilege; and so we travel to where the
              people and the stories are; for some contributors we translate and
              transcribe, for others, we help them articulate their work and
              lessons for a lay audience.
            </p>
            <p class="style-381">
              At all times, our primary aim is to share the knowledge of our
              contributors in a manner that is most true to their experience,
              most relevant for our readers, and will have the farthest reach.
              And so, we also focus on getting our contributors’ articles
              republished in mainstream media.
            </p>
            <p class="style-382">
              IDR is a free resource: free to read (we will never go behind a
              paywall), and free to share or republish under Creative Commons.
              All articles carry a disclosure statement listing any potential
              conflict, and authors retain final sign off on all their articles.
            </p> -->
          <!-- <div class="style-383">
              <div class="style-384">
                <h3 class="style-385">
                  <strong class="style-386">2/3</strong>
                </h3>
                <p class="style-387">
                  IDR articles have been carried by mainstream media
                </p>
              </div>
              <div class="style-388">
                <h2 class="style-389"><strong class="style-390">61</strong></h2>
                <p class="style-391">
                  mainstream and online media channels carry IDR stories
                </p>
              </div>
              <div class="style-392"></div>
            </div> -->
        </div>
      </div>
    </article>
  </div>
  <!--  -->
  <div class="style-394">
    <div class="style-395">
      <div class="style-396">
        <hr
          [ngClass]="{
            'dark-mode-yellowLine': isDarkModeInLocalStorage(),
            'light-mode-purpleLine': !isDarkModeInLocalStorage()
          }"
          class="style-397"
        />
        <h2
          class="style-398"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          {{ "Our Leaders" | translate }}
        </h2>
      </div>
      <!--  -->

      <!--  -->
      <div class="style-399">
        <div class="style-399">
          <h3 class="style-401">Ankushrao Kadam &nbsp;</h3>
          <div class="style-434">
            <div class="style-435">
              <div class="style-436">
                <a
                  href="../../../../assets/images/Ankushrao Kadam.jpg"
                  class="style-453"
                >
                  <img
                    decoding="async"
                    width="497"
                    height="497"
                    src="../../../../assets/images/Ankushrao Kadam.jpg"
                    class="style-454"
                    alt="Debojit Dutta-profile"
                    sizes="(max-width: 497px) 100vw, 497px"
                    data-uw-rm-alt-original="Debojit Dutta-profile"
                /></a>
              </div>
            </div>
          </div>

          <ul class="style-402">
            <li class="style-403">
              <p class="style-347" *ngIf="type == 'english'">
                BaiManus and Asar's Gender and Climate Programme has
                collaborated and launched Project Dharitri to democratise
                reporting on climate change and focus on the gendered aspects of
                the issue. The Project Dharitri aims to work on building
                awareness and understanding the intersection of gender and
                climate. We hope to democratise climate change reporting through
                this project as currently a lot of it is in the English
                language, that too, at National and International level. We
                believe that this project will help us take the discourse to a
                local audience in Marathi and speak about how climate change
                impacts the everyday lives of ordinary people.
              </p>
              <p class="style-347" *ngIf="type == 'marathi'">
                BaiManus आणि Asar यांच्या संयुक्त विद्यमानाने क्लायमेट चेंज अँड
                जेंडर या विषयांतर्गत हवामान बदलाचे लिंगनिहाय परिणाम, त्यावरील
                समस्या आणि समस्यांचे निराकरण यासंदर्भातील पत्रकारितेला
                तळागाळातील महिलांच्या माध्यमातून पुढे आणण्यासाठी
                प्रोजेक्टधरित्री हा प्रकल्प सुरू केला आहे. धरित्री प्रकल्पाचे
                उद्दिष्ट जागरुकता निर्माण करणे आणि लिंग आणि हवामानाचा छेदनबिंदू
                समजून घेणे हे आहे. या प्रकल्पाच्या माध्यमातून आम्हाला आशा आहे की
                हवामान बदल आणि त्याचे लिंगनिहाय परिणाम याविषयाशी संबंधित
                पत्रकारितेचे लोकशाहीकरण होईल, कारण सध्या त्याचा बराचसा भाग
                इंग्रजी भाषेमध्ये आहे, तोही राष्ट्रीय आणि आंतरराष्ट्रीय पातळीवर.
                आम्हाला विश्वास आहे की हा प्रकल्प आम्हाला महाराष्ट्राच्या
                तळागाळातील लोकांपर्यंत हवामान बदलाचा लिंगनिहाय परिणाम सामान्य
                लोकांच्या दैनंदिन जीवनावर कसा होतो हे सांगण्यास मदत करेल.
              </p>
            </li>
          </ul>

          <!--  -->
        </div>
        <div class="style-399">
          <h3 class="style-401">Dr. Rekha Shelke Director &nbsp;</h3>
          <div class="style-434">
            <div class="style-435">
              <div class="style-436">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
                  class="style-453"
                >
                  <img
                    decoding="async"
                    width="497"
                    height="497"
                    src="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
                    class="style-454"
                    alt="Debojit Dutta-profile"
                    sizes="(max-width: 497px) 100vw, 497px"
                    data-uw-rm-alt-original="Debojit Dutta-profile"
                /></a>
              </div>
            </div>
          </div>

          <ul class="style-402">
            <li class="style-403">
              <p class="style-347" *ngIf="type == 'english'">
                Marathwada is a land of saints with diverse cultures and
                geographical backgrounds. While working as the principal of a
                journalism college, the culture, literature, numerous events,
                and problems of this area could be studied continuously. Budding
                journalists with specific goals in the field of journalism
                should be exposed to realistic, experience-based, and actual
                on-field journalism along with book knowledge. I think it is
                important to realize an extraordinary and unique experiment like
                'Baimanus' in order to learn how to do clear, fearless,
                realistic, and applied journalism. MGM College of Mass
                Communication and Journalism always strives to produce a
                well-rounded, erudite, and aware journalist through such
                experiments for the mainstream media as well as to represent the
                sentiments of the masses The initiative 'Baimanus' is also a
                part of this effort. Welcome to all of you.
              </p>
              <p class="style-347" *ngIf="type == 'marathi'">
                मराठवाडा ही वैविध्यतेनं नटलेल्या संस्कृती, भौगोलिक
                पार्श्वभूमीची, संतांची भूमी. एका पत्रकारिता महाविद्यालयाची
                प्राचार्या म्हणून काम करत असताना या भागातील संस्कृती, साहित्य,
                येथील असंख्य घटना-घडामोडी अन् समस्या सातत्यानं अभ्यासता आल्या.
                पत्रकारितेच्या क्षेत्रात विशिष्ट ध्येय समोर ठेवून येणाऱ्या
                नवोदित पत्रकारांना पुस्तकी ज्ञानासोबतच वास्तववादी, अनुभवांवर
                आधारीत आणि प्रत्यक्ष ऑन फिल्ड जर्नालिझम साक्षात्कार व्हावा.
                स्पष्ट, निर्भिड, वास्तववादी आणि उपयोजित पत्रकारिता नेमकी कशी
                करावी, याची उकल शिकत असतानाच व्हावी, यासाठी 'बाईमाणूस'सारखा
                विलक्षण आणि अनोखा प्रयोग प्रत्यक्षात साकारणे मला महत्वाचे वाटते.
                मुख्य प्रवाहातील माध्यमांसाठी तसेच जनसामान्यांच्या भावभावनांचे
                प्रतिनिधित्व करण्यासाठी अशा प्रयोगांच्या माध्यमातून एक उत्तम,
                अभ्यासू आणि आसपासच्या परिस्थितीची जाण असलेला तसेच त्याविषयी
                लोकांना जागरुक करणारा पत्रकार घडावा, असा एमजीएम जनसंवाद आणि
                वृत्तपत्र महाविद्यालयाचा नेहमीच प्रयत्न असतो. 'बाईमाणूस' हा
                उपक्रमही याच प्रयत्नाचा एक भाग आहे. यात आपण सर्वांचे मन:पूर्वक
                स्वागत.... Shri Ankushrao Kadam
              </p>
            </li>
          </ul>

          <!--  -->
        </div>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Prashant Pawar Director & Editor, BaiManus &nbsp;
        </h3>
        <div class="style-434">
          <div class="style-435">
            <div class="style-436">
              <a
                href="https://baimanus.in/BaimanusImages/images/Prashant%20Pawar.jpeg"
                class="style-453"
              >
                <img
                  decoding="async"
                  width="497"
                  height="497"
                  src="https://baimanus.in/BaimanusImages/images/Prashant%20Pawar.jpeg"
                  class="style-454"
                  alt="Debojit Dutta-profile"
                  sizes="(max-width: 497px) 100vw, 497px"
                  data-uw-rm-alt-original="Debojit Dutta-profile"
              /></a>
            </div>
          </div>

          <ul class="style-402">
            <li class="style-403">
              <p class="style-347" *ngIf="type == 'english'">
                Hearty welcome at ‘Baimanus' webportal and its other social
                media platforms. The platform 'BaiManus' is a first-of-its-kind
                experiment in Maharashtra to raise the voice of the voiceless
                groups in media. Along with urbanization, rural areas need to be
                given priority. This is why the platform 'BaiManus' has come
                into existence. The power of 'social network' is now being felt.
                We want this new medium of ours to be a true platform of the
                people, a medium of struggle against the common farmers and the
                exploitative system. BaiManus' is a montage of people breaking a
                new path in the media who see such "new dreams." BaiManus is an
                online and 'grassroots' movement of social, cultural, and
                political affairs. Every rural and urban citizen should be a
                part of it. Prashant Pawar has worked as Assistant Editor in
                Dainik Loksatta for sixteen years and also worked as Editor of
                Rasik Purvani of Dainik Divya Marathi for 10 years. Prashant
                Pawar is one of the journalists who are following a different
                path in Maharashtra, rooting the cultural, literary, and social
                movement outside the periphery of Maharashtra.
              </p>
              <p class="style-347" *ngIf="type == 'marathi'">
                'बाईमाणूस' या मराठी वेबपोर्टलवर आणि इतर सोशल मीडियाच्या
                प्लॅटफॉर्मवर आपले मनापासून स्वागत. 'बाईमाणूस' हे व्यासपीठ आवाज
                नसलेल्या समूहांचा माध्यमांमधील आवाज वाढवण्यासाठीचा या
                महाराष्ट्रातला पहिलाच प्रयोग आहे. शहरीकरणासोबतच ग्रामीण भागाकडे
                प्राधान्यानं लक्ष देण्याची गरज आहे. यासाठीच 'बाईमाणूस' हे
                व्यासपीठ आकारास आले आहे. "सोशल नेटवर्क" या शब्दाची ताकद आताशा
                जाणवू लागली आहे. आपले हे नवे माध्यम ख-या अर्थानं जनतेचे व्यासपीठ
                व्हावे, सामान्य शेतकरी आणि शोषण व्यवस्थेच्या विरोधातील संघर्षाचे
                माध्यम व्हावे, अशी आमची इच्छा आहे. 'बाईमाणूस' हे असे "नवे
                स्वप्नं" बघणा-या माध्यमांमध्ये वेगळी वाट धुंडाळणाऱ्या माणसांचे
                मोहोळ आहे. 'बाईमाणूस' ही सामाजिक, सांस्कृतिक आणि राजकीय
                घडामोडींची ऑनलाइन आणि 'ग्रासरूट' चळवळ आहे. यामध्ये प्रत्येक
                ग्रामीण आणि शहरी नागरिकाने सहभागी व्हावे. प्रशांत पवार यांनी
                दैनिक लोकसत्ता मध्ये सहाय्यक संपादक म्हणून सोळा वर्षे काम केले
                आहे त्याचबरोबर दैनिक दिव्य मराठीच्या रसिक पुरवणीचे संपाद्क
                म्हणून १० वर्षे काम केले आहे. महाराष्ट्रातील वेगळ्या वाटेवर
                चालणाऱ्या , महाराष्ट्राची परिघाबाहेरील सांस्कृतिक , साहित्यिक ,
                सामाजिक चळवळीला रुजविणाऱ्या पत्रकारांपैकी प्रशांत पवार हे एक
                आहेत.
              </p>
            </li>
          </ul>

          <!--  -->
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="style-393"></div>
  <div class="style-394">
    <div class="style-395">
      <div class="style-396">
        <hr
          [ngClass]="{
            'dark-mode-yellowLine': isDarkModeInLocalStorage(),
            'light-mode-purpleLine': !isDarkModeInLocalStorage()
          }"
          class="style-397"
        />
        <h2
          class="style-398"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          {{ "Our Reporters" | translate }}
        </h2>
      </div>
      <div class="style-399">
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Bhagyashri Lekhami (Gadchiroli) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            A young dynamite lady sarpanch in a naxal affected area नक्षलर्गरस्त
            भा ् र्गातील तफदार तरू महिला सरपंच..&nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Apsara Aaga (Pune) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            *ngIf="type == 'english'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            A voice for equality, equity and justice for women who are
            squatters, garbage collectors and scavengers
          </li>
          <li
            class="style-403"
            *ngIf="type == 'marathi'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            बेठबिर्गारी, कचरा ेचक आवि सफाई कामर्गार महिलांच्या समता, समानता आवि
            न्यायासाठी झटारा आ ाज&nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Sumitra Vasave (Nandurbar) &nbsp;
        </h3>
        <ol
          class="style-402"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          <li
            class="style-403"
            *ngIf="type == 'english'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            A strong tribal woman fighting against superstition and gender
            discrimination
          </li>
          <li
            class="style-403"
            *ngIf="type == 'marathi'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            अंधशरद्धा आ ् वि लिर्गं भेदा वि रुद्ध लढारी सशक्त आदि ासी नारी&nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Varsha Kodape (Chandrapur) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            फिनिक्सपरमा ् े राखेतन झेप घेऊ पाह ू ारी.&nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Sukeshini Naekwade (Beed) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            मराठ ाड्यातील महिलांचा बलंद आ ु ाज A strong voice of women from
            Marathwada regionी.&nbsp;
          </li>
        </ol>

        <!--  -->
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Shamibha Patil (Jalgaon) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            ततीयपंथीयांसाठी लढ ृ ारा आश् ासक आ ाज A reassuring voice fighting
            for Transgender&nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Poonam Chaure (Dahanu) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            *ngIf="type == 'marathi'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            ारली आदि ासीचे ं ास्त &nbsp;
          </li>
          <li
            class="style-403"
            *ngIf="type == 'english'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            . Presenting the reality of Warli tribals. &nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Ashwini Sutar (Dahanu) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            *ngIf="type == 'english'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            Presenting the reality of Warli tribals.&nbsp;
          </li>
          <li
            class="style-403"
            *ngIf="type == 'marathi'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            ारली आदि ासीचे ं ास्त मांारी.&nbsp;
          </li>
        </ol>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Sukeshini Naekwade (Beed) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            *ngIf="type == 'english'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            A strong voice of women from Marathwada regionी.&nbsp;
          </li>
          <li
            class="style-403"
            *ngIf="type == 'marathi'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            मराठ ाड्यातील महिलांचा बलंद आ ु ाज &nbsp;
          </li>
        </ol>

        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Sukeshini Naekwade (Beed) &nbsp;
        </h3>
        <ol class="style-402">
          <li
            class="style-403"
            *ngIf="type == 'english'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            A strong voice of women from Marathwada regionी.&nbsp;
          </li>
          <li
            class="style-403"
            *ngIf="type == 'marathi'"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            मराठ ाड्यातील महिलांचा बलंद आ ु ाज&nbsp;
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!--  -->

  <div class="style-428"></div>
  <div class="style-429">
    <div class="style-430">
      <div class="style-431">
        <hr class="style-432" />
        <h2
          class="style-433"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          {{ "Team" | translate }}
        </h2>
      </div>
      <div class="style-434">
        <div class="style-435">
          <div class="style-436">
            <a href="" class="style-437">
              <img
                fetchpriority="high"
                decoding="async"
                width="334"
                height="333"
                src="https://baimanus.in/BaimanusImages/images/Abhijeet%20Tangade.jpg"
                class="style-438"
                alt="Abhijeet Tangade"
                sizes="(max-width: 334px) 100vw, 334px"
                data-uw-rm-alt-original="Anjali Mishra-profile"
            /></a>
            <div class="style-439">
              <div class="style-440">
                <a
                  href="../../../../assets/about-baimanus/bhagyshri lekhame.jpg"
                  class="style-441"
                >
                  {{ "Abhijeet Tangade" | translate }}</a
                >
              </div>
              <div class="style-442">
                <div class="style-443">{{ "Hindi Editor" | translate }}</div>
              </div>
            </div>
          </div>
          <div class="style-444">
            <a href="https://idronline.org/team/cincy-jose/" class="style-445">
              <img
                decoding="async"
                width="361"
                height="361"
                src="https://baimanus.in/BaimanusImages/images/Madhuram.jpeg"
                class="style-446"
                alt="Cincy Jose-profile"
                sizes="(max-width: 361px) 100vw, 361px"
                data-uw-rm-alt-original="Cincy Jose-profile"
            /></a>
            <div class="style-447">
              <div class="style-448">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Madhuram.jpeg"
                  class="style-449"
                >
                  {{ "Madhuram" | translate }}</a
                >
              </div>
              <div class="style-450">
                <div class="style-451">
                  {{ "Editor - Content" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="style-452">
            <a
              href="https://baimanus.in/BaimanusImages/images/Prashant%20Pawar.jpeg"
              class="style-453"
            >
              <img
                decoding="async"
                width="497"
                height="497"
                src="https://baimanus.in/BaimanusImages/images/Prashant%20Pawar.jpeg"
                class="style-454"
                alt="Debojit Dutta-profile"
                sizes="(max-width: 497px) 100vw, 497px"
                data-uw-rm-alt-original="Debojit Dutta-profile"
            /></a>
            <div class="style-455">
              <div class="style-456">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Prashant%20Pawar.jpeg"
                  class="style-457"
                >
                  {{ "Prashant Pawar" | translate }}</a
                >
              </div>
              <div class="style-459"></div>
              <div class="style-459"></div>
              <div class="style-458"></div>
            </div>
          </div>
          <div class="style-452">
            <a
              href="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
              class="style-453"
            >
              <img
                decoding="async"
                width="497"
                height="497"
                src="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
                class="style-454"
                alt="Debojit Dutta-profile"
                sizes="(max-width: 497px) 100vw, 497px"
                data-uw-rm-alt-original="Debojit Dutta-profile"
            /></a>
            <div class="style-455">
              <div class="style-456">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
                  class="style-457"
                >
                  {{ "Rekha Shelake" | translate }}</a
                >
              </div>
              <div class="style-459"></div>
              <div class="style-459"></div>
              <div class="style-458"></div>
            </div>
          </div>
          <div class="style-444">
            <a
              href="https://baimanus.in/BaimanusImages/images/Rina%20Mahtole.jpeg"
              class="style-445"
            >
              <img
                decoding="async"
                width="361"
                height="361"
                src="https://baimanus.in/BaimanusImages/images/Rina%20Mahtole.jpeg"
                class="style-446"
                alt="Cincy Jose-profile"
                sizes="(max-width: 361px) 100vw, 361px"
                data-uw-rm-alt-original="Cincy Jose-profile"
            /></a>
            <div class="style-447">
              <div class="style-448">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Rina%20Mahtole.jpeg"
                  class="style-449"
                >
                  {{ "Rina Mahtole" | translate }}</a
                >
              </div>
              <div class="style-450">
                <div class="style-451">
                  {{ "Editor - Content" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="style-444">
            <a
              href="https://baimanus.in/BaimanusImages/images/Rushikesh%20More.jpeg"
              class="style-445"
            >
              <img
                decoding="async"
                width="361"
                height="361"
                src="https://baimanus.in/BaimanusImages/images/Rushikesh%20More.jpeg"
                class="style-446"
                alt="Cincy Jose-profile"
                sizes="(max-width: 361px) 100vw, 361px"
                data-uw-rm-alt-original="Cincy Jose-profile"
            /></a>
            <div class="style-447">
              <div class="style-448">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Rushikesh%20More.jpeg"
                  class="style-449"
                >
                  {{ "Rushikesh More" | translate }}</a
                >
              </div>
              <div class="style-450">
                <div class="style-451">
                  {{ "Editor - Content" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="style-444">
            <a
              href="https://baimanus.in/BaimanusImages/images/Sanjana%20Khandare.jpg"
              class="style-445"
            >
              <img
                decoding="async"
                width="361"
                height="361"
                src="https://baimanus.in/BaimanusImages/images/Sanjana%20Khandare.jpg"
                class="style-446"
                alt="Cincy Jose-profile"
                sizes="(max-width: 361px) 100vw, 361px"
                data-uw-rm-alt-original="Cincy Jose-profile"
            /></a>
            <div class="style-447">
              <div class="style-448">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Sanjana%20Khandare.jpg"
                  class="style-449"
                >
                  {{ "Sanjana Khandare" | translate }}</a
                >
              </div>
              <div class="style-450">
                <div class="style-451">
                  {{ "Editor - Content" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="style-444">
            <a
              href="https://baimanus.in/BaimanusImages/images/Sanyam%20Deshmane.jpg"
              class="style-445"
            >
              <img
                decoding="async"
                width="361"
                height="361"
                src="https://baimanus.in/BaimanusImages/images/Sanyam%20Deshmane.jpg"
                class="style-446"
                alt="Cincy Jose-profile"
                sizes="(max-width: 361px) 100vw, 361px"
                data-uw-rm-alt-original="Cincy Jose-profile"
            /></a>
            <div class="style-447">
              <div class="style-448">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Sanyam%20Deshmane.jpg"
                  class="style-449"
                >
                  {{ "Sanyam Deshmane" | translate }}</a
                >
              </div>
              <div class="style-450">
                <div class="style-451">
                  {{ "Editor - Content" | translate }}
                </div>
              </div>
            </div>
          </div>
          <div class="style-444">
            <a
              href="https://baimanus.in/BaimanusImages/images/Suraj%20patke.jpeg"
              class="style-445"
            >
              <img
                decoding="async"
                width="361"
                height="361"
                src="https://baimanus.in/BaimanusImages/images/Suraj%20patke.jpeg"
                class="style-446"
                alt="Cincy Jose-profile"
                sizes="(max-width: 361px) 100vw, 361px"
                data-uw-rm-alt-original="Cincy Jose-profile"
            /></a>
            <div class="style-447">
              <div class="style-448">
                <a
                  href="https://baimanus.in/BaimanusImages/images/Suraj%20patke.jpeg"
                  class="style-449"
                >
                  {{ " Suraj patke" | translate }}</a
                >
              </div>
              <div class="style-450">
                <div class="style-451">
                  {{ "Editor - Content" | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- our partber -->

  <div class="style-393"></div>
  <div class="style-394">
    <div class="style-395">
      <div class="style-396">
        <hr
          [ngClass]="{
            'dark-mode-yellowLine': isDarkModeInLocalStorage(),
            'light-mode-purpleLine': !isDarkModeInLocalStorage()
          }"
          class="style-397"
        />
        <h2
          class="style-398"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          {{ "Our Partners" | translate }}
        </h2>
      </div>
      <div class="style-399">
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Asar Social Impact Advisor (Project Partner)&nbsp;
        </h3>
        <div class="style-434">
          <div class="style-435">
            <div class="style-436">
              <a
                href="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
                class="style-453"
              >
                <img
                  decoding="async"
                  width="497"
                  height="497"
                  src="../../../../assets/partner/image1.png"
                  class="partnerImage"
                  alt="Debojit Dutta-profile"
                  sizes="(max-width: 497px) 100vw, 497px"
                  data-uw-rm-alt-original="Debojit Dutta-profile"
              /></a>
            </div>
          </div>
        </div>

        <a
          class="partner_nabigation"
          href=" https://www.asar.co.in/ "
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          https://www.asar.co.in/ &nbsp;
        </a>
        <!--  -->
        <div class="style-393"></div>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          MGM University (Supporting Partner)&nbsp;
        </h3>
        <div class="style-434">
          <div class="style-435">
            <div class="style-436">
              <a class="style-453">
                <img
                  decoding="async"
                  width="497"
                  height="497"
                  src="../../../../assets/partner/image2.png"
                  class="partnerImage"
                  alt="Debojit Dutta-profile"
                  sizes="(max-width: 497px) 100vw, 497px"
                  data-uw-rm-alt-original="Debojit Dutta-profile"
              /></a>
            </div>
          </div>
        </div>

        <a
          class="partner_nabigation"
          href=" https://www.asar.co.in/ "
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          https://mgmu.ac.in/&nbsp;
        </a>

        <div class="style-393"></div>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          MGM College of Journalism & Mass Communication (Knowledge
          Partner)&nbsp;
        </h3>
        <div class="style-434">
          <div class="style-435">
            <div class="style-436">
              <a class="style-453">
                <img
                  decoding="async"
                  width="497"
                  height="497"
                  src="../../../../assets/partner/image3.png"
                  class="partnerImage"
                  alt="Debojit Dutta-profile"
                  sizes="(max-width: 497px) 100vw, 497px"
                  data-uw-rm-alt-original="Debojit Dutta-profile"
              /></a>
            </div>
          </div>
        </div>

        <a
          class="partner_nabigation"
          href=" https://www.mgmjournalism.org/ "
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          https://www.mgmjournalism.org/&nbsp;
        </a>
        <!--  -->

        <div class="style-393"></div>
        <h3
          class="style-401"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          Manish Pharma (Project Partner) &nbsp;
        </h3>
        <div class="style-434">
          <div class="style-435">
            <div class="style-436">
              <a class="style-453">
                <img
                  decoding="async"
                  width="497"
                  height="497"
                  src="../../../../assets/partner/image4.png"
                  class="partnerImage"
                  alt="Debojit Dutta-profile"
                  sizes="(max-width: 497px) 100vw, 497px"
                  data-uw-rm-alt-original="Debojit Dutta-profile"
              /></a>
            </div>
          </div>
        </div>

        <a
          class="partner_nabigation"
          href="https://www.maneeshpharma.com/ "
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          https://www.maneeshpharma.com/ &nbsp;
        </a>
      </div>
    </div>
  </div>

  <!-- our partner end  -->
  <div class="style-652"></div>

  <div class="style-684"></div>

  <div class="style-727"></div>

  <div class="style-752"></div>

  <div class="style-763"></div>
</section>
<!-- </html> -->
<!-- <app-partner-page></app-partner-page> -->
