<section
  class="home-entertain-block"
  [ngClass]="{ 'dark-mode': darkMode, 'light-mode': !darkMode }"
>
  <div class="container">
    <h3
      class="category-detailed-pagee"
      [ngClass]="{
        'dark-mode-yellow': isDarkModeInLocalStorage(),
        'light-mode-purple': !isDarkModeInLocalStorage()
      }"
    >
      {{ "Photos" | translate }}
    </h3>
  </div>
  <div class="container">
    <div
      class="entertain-block detailed-vid-blockk"
      *ngFor="let items of homePhotos; let i = index"
    >
      <div class="entertain-inner-block">
        <div class="entertain-title">
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          ></h2>
          <div></div>
        </div>
        <div class="entertain-image-block" (click)="navigate(items?.slug)">
          <img [src]="getFullImagePath(items?.image)" />
        </div>
      </div>
      <div class="entertain-headlines-outer-block">
        <div
          class="enterheadline-block-left enterblock-shadow"
          (click)="navigate(items?.slug)"
        >
          <h2
            (click)="navigate(items?.slug)"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ items?.title }}
          </h2>
          <span class="shortDesc">
            {{ items?.short_description }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
