<div class="divdesktopbannerwrapped">
  <div class="button">
    <div class="dont-allow">Don't Allow</div>
  </div>
  <div class="button1">
    <div class="allow">Allow</div>
  </div>
  <img
    class="q9r92tq90x90jpgcompthequintjp-icon"
    alt=""
    src="./public/201808030520463024998q9r92tq90x90jpgcompthequintjpg@2x.png"
  />

  <div class="spanng-binding">
    <b class="get-breaking-news">Get Breaking news alerts in real-time.</b>
  </div>
  <div class="png-binding">
    <div class="notifications-can-be-container">
      <span class="notifications-can-be-container1">
        <p class="notifications-can-be">
          Notifications can be turned off anytime from browser
        </p>
        <p class="settings">settings.</p>
      </span>
    </div>
  </div>
</div>
