<div data-infinite-scroll="7" style="min-height: 60px">
  <div id="elections-fact-check-sports" class="containerFRID">
    <div class="_3kslD">
      <div class="_3_jxX" id="/collection/members-only">
        <div class="_15XGv">
          <a href="/collection/members-only"
            ><div class="headline headline-type-9">
              <h1 class="ieh5X _1RXMb">Members Only</h1>
            </div></a
          ><a href="/collection/members-only"
            ><svg
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 768.000000 768.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <metadata>
                Created by potrace 1.16, written by Peter Selinger 2001-2019
              </metadata>
              <g
                transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)"
                fill="#000000"
                stroke="none"
              >
                <path
                  d="M2075 5964 c-37 -19 -261 -239 -281 -276 -18 -35 -18 -101 0 -136 8
-15 395 -407 860 -872 l846 -845 -860 -860 -860 -860 0 -55 c0 -69 5 -77 144
-218 142 -145 187 -170 263 -142 16 6 474 457 1051 1033 1092 1092 1053 1049
1038 1134 -7 34 -109 140 -1029 1062 -598 598 -1035 1029 -1054 1037 -42 18
-81 18 -118 -2z"
                ></path>
                <path
                  d="M3725 5966 c-40 -18 -281 -263 -295 -299 -17 -46 -12 -80 19 -128 16
-24 403 -417 860 -874 l831 -830 -854 -855 c-768 -768 -855 -859 -862 -893
-13 -73 5 -102 153 -249 149 -148 175 -162 246 -139 25 9 301 278 1058 1036
562 563 1027 1032 1032 1040 16 29 10 103 -12 137 -30 49 -2021 2034 -2058
2052 -39 19 -78 20 -118 2z"
                ></path>
              </g></svg
          ></a>
        </div>
        <a
          href="https://www.thequint.com/elections/madhya-pradesh-lok-sabha-congress-indore-akshay-bam-bjp-leaders-kailash-vijayvargiya"
          ><div class="card-image-wrapper _1o6Zo">
            <figure
              class="qt-image-dynamic image16x9 qt-figure _2NlBL _3-Yad _2JSAU"
            >
              <picture class="qt-image _2X5ZZ"
                ><img
                  src="https://images.thequint.com/thequint%2F2024-05%2Fddb062ce-bd9d-4865-b4f2-211ae9199369%2Fhero_image_1.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
                  data-src="https://images.thequint.com/thequint%2F2024-05%2Fddb062ce-bd9d-4865-b4f2-211ae9199369%2Fhero_image_1.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
                  type="image/webp"
                  sizes="(max-width: 400px ) 90vw, ( max-width: 730px ) 90vw,( max-width: 720px ) 50vw"
                  class="qt-image image _1tCvn gm-added gm-observing gm-observing-cb"
                  alt="" /><noscript></noscript
              ></picture>
            </figure>
            <div class="cardimage-headline-view _327Ov">
              <div class="headline headline-type-4">
                <h2 class="ieh5X _3gpGB">
                  Congress' Indore Debacle Shows Top BJP Leaders' Internal
                  Struggle for Attention
                </h2>
              </div>
            </div>
          </div></a
        >
        <div class="_36LLL">
          <div class="custom-story-card-5 _1Jblu">
            <a
              class="title-wrapper headline-link _3b9Yy"
              href="https://www.thequint.com/south-asians/london-mayor-elections-indian-origin-candidate-tarun-ghulati-speaks"
              ><div class="headline headline-type-4">
                <h2 class="ieh5X _3gpGB">
                  'Indian Culture Guides Me': Sole Indian-Origin Candidate in
                  London Mayoral Polls
                </h2>
              </div></a
            >
            <div class="members-only-wrapper _1zBHE">
              <div class="left-text _3q-Se">Members Only</div>
              <span class="svg-container"
                ><img
                  src="https://images.thequint.com/thequint/2024-01/5ddf0001-4dfc-4ff0-b7c2-03710f831291/l1.png"
                  alt="lock close icon"
                  class="gm-added gm-observing gm-observing-cb"
                  style="width: 20px; height: 20px; transform: scale(1.6)"
              /></span>
            </div>
          </div>
          <div class="custom-story-card-5 _1Jblu">
            <a
              class="title-wrapper headline-link _3b9Yy"
              href="https://www.thequint.com/fit/heatwaves-summer-vacation-extreme-temperature-effect-on-children"
              ><div class="headline headline-type-4">
                <h2 class="ieh5X _3gpGB">
                  ‘No Playing Outdoors Before 5 PM’: Heatwaves Are Reshaping
                  Kids’ Summer Holidays
                </h2>
              </div></a
            >
            <div class="members-only-wrapper _1zBHE">
              <div class="left-text _3q-Se">Members Only</div>
              <span class="svg-container"
                ><img
                  src="https://images.thequint.com/thequint/2024-01/5ddf0001-4dfc-4ff0-b7c2-03710f831291/l1.png"
                  alt="lock close icon"
                  class="gm-added gm-observing gm-observing-cb"
                  style="width: 20px; height: 20px; transform: scale(1.6)"
              /></span>
            </div>
          </div>
        </div>
      </div>
      <div class="_3_jxX" id="sports">
        <div class="_15XGv">
          <a href="sports"
            ><div class="headline headline-type-9">
              <h1 class="ieh5X _1RXMb">Sports</h1>
            </div></a
          ><a href="sports"
            ><svg
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 768.000000 768.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <metadata>
                Created by potrace 1.16, written by Peter Selinger 2001-2019
              </metadata>
              <g
                transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)"
                fill="#000000"
                stroke="none"
              >
                <path
                  d="M2075 5964 c-37 -19 -261 -239 -281 -276 -18 -35 -18 -101 0 -136 8
-15 395 -407 860 -872 l846 -845 -860 -860 -860 -860 0 -55 c0 -69 5 -77 144
-218 142 -145 187 -170 263 -142 16 6 474 457 1051 1033 1092 1092 1053 1049
1038 1134 -7 34 -109 140 -1029 1062 -598 598 -1035 1029 -1054 1037 -42 18
-81 18 -118 -2z"
                ></path>
                <path
                  d="M3725 5966 c-40 -18 -281 -263 -295 -299 -17 -46 -12 -80 19 -128 16
-24 403 -417 860 -874 l831 -830 -854 -855 c-768 -768 -855 -859 -862 -893
-13 -73 5 -102 153 -249 149 -148 175 -162 246 -139 25 9 301 278 1058 1036
562 563 1027 1032 1032 1040 16 29 10 103 -12 137 -30 49 -2021 2034 -2058
2052 -39 19 -78 20 -118 2z"
                ></path>
              </g></svg
          ></a>
        </div>
        <a
          href="https://www.thequint.com/indian-premier-league-ipl/ipl-2024-what-went-wrong-for-mumbai-indians-hardik-pandya-captaincy-faltering-batting"
          ><div class="card-image-wrapper _1o6Zo">
            <figure
              class="qt-image-dynamic image16x9 qt-figure _2NlBL _3-Yad _2JSAU"
            >
              <picture class="qt-image _2X5ZZ"
                ><img
                  src="https://images.thequint.com/thequint%2F2024-05%2F87529f35-bffa-4236-a8e8-58936f4bca81%2Fmi__1_.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
                  data-src="https://images.thequint.com/thequint%2F2024-05%2F87529f35-bffa-4236-a8e8-58936f4bca81%2Fmi__1_.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
                  type="image/webp"
                  sizes="(max-width: 400px ) 90vw, ( max-width: 730px ) 90vw,( max-width: 720px ) 50vw"
                  class="qt-image image _1tCvn gm-added gm-observing gm-observing-cb"
                  alt="" /><noscript></noscript
              ></picture>
            </figure>
            <div class="cardimage-headline-view _327Ov">
              <div class="headline headline-type-4">
                <h2 class="ieh5X _3gpGB">
                  IPL 2024: Mumbai Indians’ Fall From Grace – What Went Wrong?
                </h2>
              </div>
            </div>
          </div></a
        >
        <div class="_36LLL">
          <div class="custom-story-card-5 _1Jblu">
            <a
              class="title-wrapper headline-link _3b9Yy"
              href="https://www.thequint.com/indian-premier-league-ipl/ipl-2024-i-am-under-pressure-at-toss-admits-csk-captain-ruturaj-gaikwad"
              ><div class="headline headline-type-4">
                <h2 class="ieh5X _3gpGB">
                  IPL 2024: I’m Under Pressure at Toss, Not Sure What To Do –
                  Ruturaj Gaikwad
                </h2>
              </div></a
            >
          </div>
          <div class="custom-story-card-5 _1Jblu">
            <a
              class="title-wrapper headline-link _3b9Yy"
              href="https://www.thequint.com/indian-premier-league-ipl/ipl-2024-csk-vs-pbks-spinners-rahul-chahar-harpreet-brar-shine-punjab-kings-beat-chennai-super-kings"
              ><div class="headline headline-type-4">
                <h2 class="ieh5X _3gpGB">
                  IPL 2024: Spinners Chahar &amp; Brar Shine for Punjab Kings in
                  7-Wicket Win Over CSK
                </h2>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
