<div class="div-2yhck paymentCard">
  <b class="choose-payment-method">CHOOSE PAYMENT METHOD</b>
  <div class="div-2coy9">
    <div class="div-1mto3">
      <mat-accordion>
        <mat-expansion-panel #panel1 hideToggle>
          <mat-expansion-panel-header>
            <mat-radio-group>
              <mat-radio-button value="option1"></mat-radio-button>
            </mat-radio-group>
            <mat-panel-title> This is the expansion title </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div class="div-2coy91" style="margin-top: 20px">
    <div class="div-1mto31">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-radio-group>
              <mat-radio-button value="option1"></mat-radio-button>
            </mat-radio-group>
            <mat-panel-title> This is the expansion title </mat-panel-title>
            <mat-panel-description>
              This is a summary of the content
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <b class="select-your-plan">Select your plan and pay</b>
  <div class="divrxs-">
    <b class="b">$</b>
    <b class="b1">25</b>
  </div>
  <div class="divrxs-1">
    <b class="b2">$</b>
    <b class="b3">100</b>
  </div>
  <div class="divrxs-2">
    <div class="span">
      <b class="b4">$</b>
      <b class="b5">200</b>
    </div>
    <div class="p-3nupt">
      <div class="or-more">or more</div>
    </div>
    <div class="div-3mgrm">
      <b class="premium">PREMIUM</b>
    </div>
  </div>
  <div class="months">3 months</div>
  <div class="months1">12 months</div>
  <div class="months2">12 months</div>
  <div class="div-1-ufg">
    <!-- <img class="svg-icon2" alt="" src="./public/svg.svg" /> -->
    <i class="fa fa-gift" style="font-size: 26px"></i>

    <div class="span1">
      <div class="apply-coupon">
        Apply Coupon
        <i class="fa fa-angle-right arrowCoupon" aria-hidden="true"></i>
      </div>
    </div>
    <div class="span-2lbsr">
      <div class="after"></div>
    </div>
  </div>
  <!-- </div> -->
</div>
