<section data-rsssl="1" class="style-0">
  <div class="style-393"></div>
  <div class="style-394">
    <div class="style-395">
      <div class="style-396">
        <hr
          [ngClass]="{
            'dark-mode-yellowLine': isDarkModeInLocalStorage(),
            'light-mode-purpleLine': !isDarkModeInLocalStorage()
          }"
          class="style-397"
        />
        <h2
          class="style-398"
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
        >
          {{ "Our Partners" | translate }}
        </h2>
      </div>

      <div class="style-399">
        <div class="container2">
          <div class="left">
            <h6
              class="style-401"
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              Asar Social Impact Advisor (Project Partner)&nbsp;
            </h6>
            <div class="style-434">
              <div class="style-435">
                <div class="style-436">
                  <a
                    href="https://baimanus.in/BaimanusImages/images/Rekha%20Shelake.jpg"
                    class="style-453"
                  >
                    <img
                      decoding="async"
                      width="497"
                      height="497"
                      src="../../../../assets/partner/image1.png"
                      class="partnerImage"
                      alt="Debojit Dutta-profile"
                      sizes="(max-width: 497px) 100vw, 497px"
                      data-uw-rm-alt-original="Debojit Dutta-profile"
                  /></a>
                </div>
              </div>
            </div>

            <a
              class="partner_nabigation"
              href=" https://www.asar.co.in/ "
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              https://www.asar.co.in/ &nbsp;
            </a>
          </div>
          <!--  -->
          <div class="style-393"></div>
          <div class="right">
            <h6
              class="style-401"
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              MGM University (Supporting Partner)&nbsp;
            </h6>
            <div class="style-434">
              <div class="style-435">
                <div class="style-436">
                  <a class="style-453">
                    <img
                      decoding="async"
                      width="497"
                      height="497"
                      src="../../../../assets/partner/image2.png"
                      class="partnerImage"
                      alt="Debojit Dutta-profile"
                      sizes="(max-width: 497px) 100vw, 497px"
                      data-uw-rm-alt-original="Debojit Dutta-profile"
                  /></a>
                </div>
              </div>
            </div>

            <a
              class="partner_nabigation"
              href=" https://www.asar.co.in/ "
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              https://mgmu.ac.in/&nbsp;
            </a>
          </div>
        </div>
        <div class="style-393"></div>
        <div class="container2">
          <div class="left">
            <h6
              class="style-401"
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              MGM College of Journalism & Mass Communication (Knowledge
              Partner)&nbsp;
            </h6>
            <div class="style-434">
              <div class="style-435">
                <div class="style-436">
                  <a class="style-453">
                    <img
                      decoding="async"
                      width="497"
                      height="497"
                      src="../../../../assets/partner/image3.png"
                      class="partnerImage"
                      alt="Debojit Dutta-profile"
                      sizes="(max-width: 497px) 100vw, 497px"
                      data-uw-rm-alt-original="Debojit Dutta-profile"
                  /></a>
                </div>
              </div>
            </div>

            <a
              class="partner_nabigation"
              href=" https://www.mgmjournalism.org/ "
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              https://www.mgmjournalism.org/&nbsp;
            </a>
          </div>
          <!--  -->

          <div class="style-393"></div>
          <div class="right">
            <h6
              class="style-401"
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              Manish Pharma (Project Partner) &nbsp;
            </h6>
            <div class="style-434">
              <div class="style-435">
                <div class="style-436">
                  <a class="style-453">
                    <img
                      decoding="async"
                      width="497"
                      height="497"
                      src="../../../../assets/partner/image4.png"
                      class="partnerImage"
                      alt="Debojit Dutta-profile"
                      sizes="(max-width: 497px) 100vw, 497px"
                      data-uw-rm-alt-original="Debojit Dutta-profile"
                  /></a>
                </div>
              </div>
            </div>

            <a
              class="partner_nabigation"
              href="https://www.maneeshpharma.com/ "
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              https://www.maneeshpharma.com/ &nbsp;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="style-652"></div>
</section>
