<section
  class="home-entertain-block"
  [ngClass]="{ 'dark-mode': darkMode, 'light-mode': !darkMode }"
>
  <h2>{{ slug }}</h2>
  <div class="container">
    <div
      class="entertain-block"
      *ngFor="let category of categoryList; let i = index"
    >
      <div class="entertain-inner-block">
        <div class="entertain-title">
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          ></h2>
          <div></div>
        </div>
        <div
          (click)="
            getHomeContentBySlug(category?.slug, category?.category?.slug)
          "
          class="entertain-image-block"
        >
          <img [src]="getFullImagePath(category?.image)" />
        </div>
      </div>
      <div class="entertain-headlines-outer-block">
        <div class="enterheadline-block-left enterblock-shadow">
          <!-- <div
          class="enterheadline-block-left enterblock-shadow"
          (click)="
            getHomeContentBySlug(category[1]?.slug, category[1].category?.slug)
          " -->

          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ category?.title }}
          </h2>
          <!-- <span class="shortDesc">
            {{ category[1]?.short_description }}
          </span> -->
        </div>
        <!-- <div class="enterheadline-block-right enterblock-shadow">
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ category[2]?.title }}
          </h2>
          <span class="shortDesc">
            {{ category[2]?.short_description }}
          </span>
        </div> -->
      </div>
    </div>
  </div>
</section>
