<div class="container _2aYP3">
  <div class="_18Ta">
    <div class="_2ouiV">
      <div class="_9fOD_">
        Welcome user

        <a href="" class="_12STU">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlnsxink="http://www.w3.org/1999/xlink"
            width="20"
            height="20"
            viewBox="0 0 24 24"
          >
            <path
              d="M18.111,2.293,9.384,11.021a.977.977,0,0,0-.241.39L8.052,14.684A1,1,0,0,0,9,16a.987.987,0,0,0,.316-.052l3.273-1.091a.977.977,0,0,0,.39-.241l8.728-8.727a1,1,0,0,0,0-1.414L19.525,2.293A1,1,0,0,0,18.111,2.293ZM11.732,13.035l-1.151.384.384-1.151L16.637,6.6l.767.767Zm7.854-7.853-.768.767-.767-.767.767-.768ZM3,5h8a1,1,0,0,1,0,2H4V20H17V13a1,1,0,0,1,2,0v8a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V6A1,1,0,0,1,3,5Z"
            ></path>
          </svg>
        </a>
      </div>
      <div class="_1pRAe">Thank you for being part of The Baimanus</div>
      <a
        class="IwUyu"
        href="https://www.facebook.com/groups/2596502677070141/"
        target="_blank"
        rel="nofollow"
        >Join Our Exclusive Member’s Group</a
      >
    </div>
    <!--  -->
    <div class="_30QPI">
      <div class="_2uq7g">Subscriptions</div>
      <div class="_2OiRn">
        <div class="IXZpT">
          <div class="TKhwA"><button (click)="plans()">Active</button></div>
          <div class="TKhwA">
            <button (click)="previoustab()">Previous</button>
          </div>
        </div>
        <div class="_2EuUA">
          <div class="_1fQfe"></div>
          <div class=""></div>
        </div>
      </div>
      <div class="opi1B" *ngIf="active == true">
        <span class="_1ChiU">No Plans Available</span>
      </div>
      <div class="opi1B" *ngIf="previous == true">
        <span class="_1ChiU">No Plans Previous plan </span>
      </div>
    </div>

    <!--  -->
    <div class="_2jJt6">
      <div class="_2cUNR">Just a few more details</div>
      <div class="_29grh">
        <div class="wrapper-textfield _7ikcI">
          <input
            type="text"
            class="textfield _1Bhh_"
            placeholder="Occupation"
            name="occupation"
            value=""
          />
        </div>
        <div class="wrapper-textfield _7ikcI">
          <div class="alert-dot cX_iJ"></div>
          <input
            type="text"
            class="textfield _1Bhh_"
            placeholder="Mobile Number"
            name="mobileNumber"
            value=""
          /><span class="_1JC7A">Please add your mobile number.</span>
        </div>
        <div class="wrapper-textfield _7ikcI">
          <input
            type="text"
            class="textfield _1Bhh_"
            placeholder="City"
            name="city"
            value=""
          />
        </div>
        <div class="wrapper-textfield _7ikcI">
          <input
            type="text"
            class="textfield _1Bhh_"
            placeholder="Pincode"
            name="pincode"
            value=""
          />
        </div>
      </div>
      <div class="VqmuE">
        <button class="button _2xDRq">Save</button
        ><button class="button _3i_QP" (click)="logout()">Sign Out</button>
      </div>
    </div>

    <!--  -->
    <div class="mauuY">Reset Password? <span>Click here</span></div>
    <!--  -->
    <div class="_10dI7"></div>
    <div class="_2EzaU">
      <span>•</span>
      <div class="_3I62q">
        For membership-related queries, please write to us at: &nbsp;<a
          href="mailto:tqmembersonly@thequint.com"
          >tqmembersonl.com</a
        >
      </div>
      <span>•</span>
      <div class="_3I62q">
        For other queries, you may write to us at:&nbsp;<a
          href="mailto:editor@thequint.com"
          >editorcsa.com</a
        >
      </div>
    </div>
    <!--  -->
  </div>
</div>
