<section id="section" class="subscribeee-body">
  <div class="sub-outer-container">
    <hr />
    <div class="subscription-container">
      <div class="newsletter-info"></div>
      <div class="subscribe-form">
        <input
          type="text"
          (keypress)="onKeyPress($event)"
          #searchInput
          placeholder="Type here...."
          required
        />
        <input type="hidden" #type value="english" />
        <button type="submit" (click)="search(searchInput.value)">
          Search
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="searchValue">
    <span (click)="getHomeContentBySlug(searchValue?.slug)">{{
      searchValue?.title
    }}</span>
  </div>
</section>
