.httploader {
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5101;
  overflow: hidden;
  right: 0;
}

.line {
  position: absolute;
  opacity: 0.4;
  background: #0515f540;
  width: 100%;
  height: 5px;
}

.subline {
  position: absolute;
  background: #2600ff;
  height: 5px;
}
.inc {
  animation: increase 3s infinite; /* Decreased animation duration */
}
.dec {
  animation: decrease 3s 1s infinite; /* Decreased animation duration */
}

@keyframes increase {
  from {
    left: -5%;
    width: 8%;
  }
  to {
    left: 130%;
    width: 100%;
  }
}
@keyframes decrease {
  from {
    left: -80%;
    width: 80%;
  }
  to {
    left: 110%;
    width: 10%;
  }
}
