/* styles.css or styles.scss */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "ngx-toastr/toastr";
/* styles.css */

@font-face {
  font-family: "ProximaNova-Black";
  src: url("./assets/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* You can also define additional styles for different font weights and styles */

* {
  font-family: "Nunito", sans-serif;
}
body.dark-theme {
  background-color: #333333;
  color: #fff;
}
.dark-theme #footer {
  background-color: #333333;
  color: #fff;
}
.dark-theme #header {
  background-color: #333333 !important;
  color: #fff;
}
.dark-theme #setion {
  background-color: #333333 !important;
  color: #fff;
}
.dark-theme p {
  color: #fff;
}

body {
  margin: 0;
  line-height: normal;
}
/* .dark-mode h3,
.dark-mode p,
.dark-mode .more-news p {
  color: white;
} */
h1 {
  font-size: 25px;
  line-height: 36px;
}
p {
  /* font-size: 18px; */
  /* line-height: 24px; */
  font-weight: 500;
}

.dark-mode .dark-color {
  color: #333; /* Or any other dark color you prefer */
}

.yellow-color {
  color: #fa9000;
}

::ng-deep .mat-tab-label-active {
  background-color: #ff8800;
  color: #ffffff;
}
.loader {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* .small-text {
  font-size: 16px;
}

.medium-text {
  font-size: 20px;
}

.large-text {
  font-size: 24px;
} */
.container.medium-text {
  display: flex;
  flex-wrap: wrap;
}
.news-item span {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 520px) {
  .ReadMore-section .read-more-items {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ReadMore-section .read-more-items .item {
    width: 100%;
  }
  .read-full-article {
    margin-left: 0;
  }
  .subscription-container {
    padding: 40px 0px !important;
  }
  .subscription-container .subscribe-form input {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .container.medium-text.ng-star-inserted,
  .container.detailed-wids {
    display: flex;
    flex-direction: column;
  }
  .right-section {
    flex: none;
  }
}

@media screen and (max-width: 600px) {
  .content-container {
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    width: 100%;
  }
  .content-container img {
    width: 100%;
  }
}

.larger-text {
  font-size: 36px !important;
  line-height: 1.4 !important;
}

/* dark Mode  Heading  color  */
.dark-mode-yellow {
  color: #fa9000;
  background-color: #333;
}

.light-mode-purple {
  color: #35144f;
  background-color: white;
}

.mat-mdc-dialog-container._mat-animation-noopable .mdc-dialog__container,
.mat-mdc-dialog-container._mat-animation-noopable .mdc-dialog__surface {
  background-color: #292929 !important;
}

.news-right {
  margin-bottom: 0;
}

.shortDesc {
  font-size: 16px !important;
  color: #b9b7b7 !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-weight: 600 !important;
}
.box h2 {
  margin-bottom: 0;
}
.category-image {
  margin-bottom: 15px;
}
h2 {
  margin-bottom: 0;
}
h2 {
  line-height: 1.3 !important;
}
h1 {
  font-weight: 700 !important;
}
.more-news {
  padding: 0px !important;
}

.more-item img {
  border-radius: 5px !important;
}
.medium-text {
  font-size: 20px !important;
  line-height: 1.6 !important;
}
.entertain-image-block {
  border-radius: 10px 10px 0 0;
  max-height: 302px;
  overflow: hidden;
}
.owl-stage-outer .owl-stage {
  margin: auto;
}

.content-details {
  margin-bottom: 40px !important;
}

.small-text {
  font-size: 20px;
  line-height: 1.3;
  color: #6c6c6c !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-weight: 500 !important;
}

.medium-text {
  font-size: 20px;
  line-height: 1.6;
  color: #6c6c6c !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-weight: 500 !important;
}

.large-text {
  font-size: 30px;
  line-height: 1.7;
  color: #6c6c6c !important;
  font-family: "Proxima Nova", sans-serif !important;
  font-weight: 500 !important;
}

.owl-carousel {
  position: unset;
}
.no-data img {
  max-width: 100%;
  height: 100%;
}

.image-slider button {
  position: absolute;
  bottom: 0;
  right: 0;
}
.hinditoggle {
  width: 100px;
}
.hinditoggle span svg {
  width: 100%;
  height: auto;
}
.hinditoggle:hover svg g {
  fill: #ffffff;
}
.dharitri {
  width: 80px;
}
.dharitri a img {
  width: 100%;
}
.phots-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.phots-box h3 {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}
.phots-box img {
  width: 80px;
  height: 60px;
  margin-right: 10px;
}
.header-search-icon {
  width: auto;
}
.author-name,
.published-date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 10px;
  color: #000000;
}
#header .logos,
#header .header-navs.header-icons {
  grid-column-gap: 20px;
}
.articalread p img {
  width: 100% !important;
}

.news-item,
.larger-text,
.content-details p,
.item p,
h1,
h2,
.phots-box,
.shortDes,
.medium-text,
.light-mode-purpleD,
.dark-mode-yellowD {
  cursor: pointer !important;
}
