<div
  class="container"
  [ngClass]="{
    'small-text': textSize === 'small',
    'medium-text': textSize === 'medium',
    'large-text': textSize === 'large'
  }"
>
  <div class="left-section">
    <!-- <span *ngFor="let imgaedata of homePhotos"> -->
    <h1>{{ homePhotos?.title }}</h1>

    <div class="content-details">
      <p>{{ homePhotos?.short_description }}</p>

      <strong>
        <span class="author-name">{{ homePhotos?.author }}</span>
      </strong>

      <span class="published-date" style="display: block">
        Published : {{ homePhotos?.publish | date }}
      </span>
    </div>
    <div class="category-image">
      <div class="image-slider">
        <button *ngIf="!expanded" (click)="expandCarousel()">Expand</button>

        <owl-carousel-o
          *ngIf="!expanded; else expandedCarousel"
          [options]="oneImageOptions"
        >
          <ng-container *ngFor="let slide of [homePhotos?.image]">
            <ng-template carouselSlide>
              <img
                [src]="getFullImagePath(slide)"
                alt="Slide Image"
                class="owl-lazy"
              />
            </ng-template>
          </ng-container>
        </owl-carousel-o>

        <ng-template #expandedCarousel>
          <div class="expanded-carousel">
            <button class="backBtn" (click)="shrinkCarousel()">X</button>
            <owl-carousel-o [options]="expandedOptions">
              <ng-container *ngFor="let slide of slidesImages; let i = index">
                <ng-template carouselSlide>
                  <div
                    class="carousel-item"
                    [ngStyle]="{ 'z-index': i === currentIndex ? 1 : 0 }"
                  >
                    <img
                      [src]="slide"
                      alt="Slide Image"
                      class="owl-lazy"
                      [class.active]="i === currentIndex"
                    />
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </ng-template>
      </div>

      <!-- <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slidesImages">
          <ng-template carouselSlide>
            <img [src]="slide" alt="Slide Image" class="owl-lazy" />
          </ng-template>
        </ng-container>
      </owl-carousel-o> -->

      <div class="shar-section">
        <div class="Share icon">
          <div class="shareLeft d-flex">
            <button class="Menus" mat-button [matMenuTriggerFor]="menu">
              <img src="../../../../../assets/icons/share_icon.png" alt="" />
            </button>
            Share
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <img src="../../../../../assets/icons/whats app.png" alt="" />
                <span class="iconNaming"
                  ><span class="whatsapp-text">WhatsApp</span></span
                >
              </button>
              <button mat-menu-item>
                <img src="../../../../../assets/icons/facebook.png" alt="" />
                <span class="iconNaming"
                  ><span class="whatsapp-text">Facebook</span></span
                >
              </button>
              <button mat-menu-item>
                <img src="../../../../../assets/icons/twitter_X.png" alt="" />
                <span class="iconNaming"
                  ><span class="whatsapp-text">x</span></span
                >
              </button>
              <button mat-menu-item>
                <img src="../../../../../assets/icons/telegrame.png" alt="" />
                <span class="iconNaming"
                  ><span class="whatsapp-text">Telegrame</span></span
                >
              </button>
              <span (click)="urlAndCopylink()">
                <button mat-menu-item>
                  <img src="../../../../../assets/icons/copy_link.png" alt="" />
                  <span class="iconNaming"
                    ><span class="whatsapp-text">Copy link</span></span
                  >
                </button>
              </span>
            </mat-menu>
          </div>
          <div class="share_rightt">
            <div class="TextSizing">
              <button mat-button [matMenuTriggerFor]="menuText">
                <span class="caps">A</span><span class="smallL">a</span>
              </button>
              <mat-menu #menuText="matMenu">
                <button mat-menu-item (click)="setTextSize('small')">
                  Small
                </button>
                <button mat-menu-item (click)="setTextSize('medium')">
                  Medium
                </button>
                <button mat-menu-item (click)="setTextSize('large')">
                  Large
                </button>
              </mat-menu>
            </div>
            <div class="audio" *ngIf="homePhotos.audio">
              <img
                (click)="playOrPauseAudio(homePhotos?.audio)"
                src="../../../../../assets/icons/audio.png"
                alt=""
              />
            </div>

            <div class="bookmark" (click)="bookmark()">
              <img src="../../../../../assets/icons/bookmark.png" alt="" />
            </div>
            <div class="commets" (click)="isCommnet()">
              <img src="../../../../../assets/icons/commentsTwo.png" alt="" />
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
    <div class="articalread">
      <div
        [innerHTML]="
          homePhotos?.expanded
            ? homePhotos.content
            : truncateHtmlContent(homePhotos?.content)
        "
      ></div>
      <button class="read-full-article" (click)="toggleExpanded(homePhotos)">
        {{
          homePhotos.expanded
            ? ("Show Less" | translate)
            : ("Read Full Article" | translate)
        }}
      </button>
    </div>

    <div class="ReadMore-section">
      <div class="read-more">
        <h1>Read More</h1>
        <hr />
        <div class="read-more-items">
          <div class="item" *ngFor="let item of readMoreItems; let i = index">
            <img
              [src]="getFullImagePath(readMoreImages[i])"
              alt="Image {{ i + 1 }}"
            />
            <p>{{ item }}</p>
          </div>
        </div>
        <div class="shar-section">
          <hr />
        </div>
      </div>
    </div>
    <!-- </span> -->

    <span class="trendingNews" *ngFor="let news of trendingNews">
      <h1>{{ news?.title }}</h1>

      <div class="content-details">
        <p>{{ news.short_description }}</p>

        <strong>
          <span class="author-name">{{ news?.author }}</span>
        </strong>

        <span class="published-date" style="display: block">
          Published : {{ news?.publish | date }}
        </span>
      </div>
      <div class="category-image" *ngFor="let images of trendingNews.images">
        <ng-container *ngFor="let image of news.images">
          <img [src]="getFullImagePath(image.image)" />
        </ng-container>
        <div class="shar-section">
          <hr />
        </div>
      </div>
      <div class="articalread">
        <div
          [innerHTML]="
            news.expanded ? news?.content : truncateHtmlContent(news?.content)
          "
        ></div>
        <button class="read-full-article" (click)="toggleExpanded(news)">
          {{
            news?.expanded
              ? ("Show Less" | translate)
              : ("Read Full Article" | translate)
          }}
        </button>
      </div>

      <div class="ReadMore-section">
        <div class="read-more">
          <h1>Read More</h1>
          <hr />
          <div class="read-more-items">
            <div class="item" *ngFor="let item of readMoreItems; let i = index">
              <img
                [src]="getFullImagePath(readMoreImages[i])"
                alt="Image {{ i + 1 }}"
              />
              <p>{{ item }}</p>
            </div>
          </div>
          <div class="shar-section">
            <hr />
          </div>
        </div>
      </div>
    </span>
  </div>

  <div
    class="right-section"
    [ngClass]="{ 'dark-mode': themeServiceInstance.isDarkMode() }"
  >
    <div
      class="stay-updated"
      [ngClass]="{ 'dark-mode': themeServiceInstance.isDarkMode() }"
    >
      <h2>{{ "Stay Updated" | translate }}</h2>
      <app-subscribe></app-subscribe>
    </div>
    <div class="line" style="display: none;"></div>

    <div class="more-news">
      <h2>{{ "More News" | translate }}</h2>
      <hr />
      <div
        class="news-item"
        *ngFor="let item of readMoreItemsDetail; let i = index"
      >
        <span (click)="getHomeContentBySlugAndNavigate(readMoreSlug[i])">
          <img [src]="getFullImagePath(readMoreImagesDetail[i])" />
          <p>{{ item }}</p>
        </span>
      </div>
      <hr />
    </div>
  </div>
</div>
