.container {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.left-section {
  flex: 1;
  background-color: lightblue;
}

.right-section {
  flex: 0.5;
  margin-left: 28px;
  background-color: lightgreen;
}
.content-details {
  flex: 1;
}

.content-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.content-details p {
  font-size: 14px;
  color: #555;
}
.title {
  color: #35144f;
}
h1 {
  color: #35144f;
  font-style: bold;
}

.box {
  width: 100%; /* Example width for the boxes */
  height: 100px; /* Example height for the boxes */
  background-color: gray; /* Example background color for the boxes */
  margin-bottom: 10px; /* Example margin between the boxes */
}
.hometitle {
  display: flex;
  margin: auto;
}

.news-left {
  flex: 0.6;
  background-color: rgb(13, 15, 15);
}
.news-right {
  flex: 0.3;
  background-color: rgb(23, 194, 194);
}
.photos {
  display: flex;
  margin: auto;
  padding-top: 30px;
}
.photos-left {
  flex: 1;
}

/* .photos-right {
  flex: 0.3;
  margin-left: 20px;
} */

.phots-box hr {
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #35144f;
}
.phots-heading img {
  width: 100%;
  margin-top: 10px;
}
