<div class="container top-headlines dark-mode">
  <div class="left-section" *ngIf="homeContent">
    <!-- Insert the advertiment on top section starts from here-->
    <div class="advertisment-top"></div>
    <!-- Insert the advertiment on top section ends here-->
    <a
      (click)="
        getHomeContentBySlug(
          homeContent?.slug,
          homeContent?.category?.slug,
          homeContent?.category?.name
        )
      "
    >
      <div class="category-image">
        <img
          [src]="getFullImagePath(homeContent?.image)"
          [alt]="homeContent?.image_alt"
        />
      </div>
      <div class="content-details">
        <h1
          [ngClass]="{
            'dark-mode-yellow': isDarkModeInLocalStorage(),
            'light-mode-purple': !isDarkModeInLocalStorage()
          }"
          style="margin-bottom: 0"
        >
          {{ homeContent?.title }}
        </h1>

        <!-- <p> -->
        <span
          class="shortDesc"
          style="margin-bottom: 3px"
          [ngStyle]="getshortDis()"
        >
          {{ homeContent?.short_description }}</span
        >
        <!-- </p> -->
      </div>
    </a>
    <span>
      <div class="hometitle">
        <div class="news-left">
          <div class="box" *ngFor="let items of homeInfo; index as i">
            <span
              (click)="
                getHomeContentBySlug(
                  items?.slug,
                  items?.category?.slug,
                  items?.category?.name
                )
              "
            >
              <h2
                [ngClass]="{
                  'dark-mode-yellow': isDarkModeInLocalStorage(),
                  'light-mode-purple': !isDarkModeInLocalStorage()
                }"
              >
                {{ items?.title }}
              </h2>
            </span>
            <br />
            <span class="shortDesc">
              {{ items?.short_description }}
            </span>
          </div>
        </div>
        <div class="news-right">
          <div
            class="news-right-title"
            *ngIf="belowContent && belowContent.length >= 4"
          >
            <span
              (click)="
                getHomeContentBySlug(
                  belowContent[3]?.slug,
                  belowContent[3]?.category?.slug,
                  belowContent[3]?.category?.name
                )
              "
            >
              <img
                [src]="getFullImagePath(belowContent[3]?.image)"
                [alt]="belowContent[3]?.image_alt"
              />
              <h2
                [ngClass]="{
                  'dark-mode-yellow': isDarkModeInLocalStorage(),
                  'light-mode-purple': !isDarkModeInLocalStorage()
                }"
              >
                {{ belowContent[3]?.title }}
              </h2>
            </span>
            <span class="shortDesc">
              {{ belowContent[3]?.short_description }}
            </span>
          </div>
        </div>
      </div>
    </span>
  </div>
  <!-- <div class="nodata" *ngIf="!homeContent">
    <img src="../../../../assets/images/no-data.jpg" alt="" />
  </div> -->
  <div
    class="right-section"
    [ngClass]="{ 'dark-mode': themeServiceInstance.isDarkMode() }"
  >
    <!-- <div
      class="stay-updated"
      [ngClass]="{ 'dark-mode': themeServiceInstance.isDarkMode() }"
    >
      <h2>{{ "Stay Updated" | translate }}</h2>
      <app-subscribe></app-subscribe>
    </div> -->
    <div class="line"></div>

    <!-- <div
      class="more-news"
      [ngClass]="{ 'dark-mode': themeServiceInstance.isDarkMode() }"
    > -->
    <div
      class="more-news"
      [ngClass]="{
        'dark-mode-yellow': isDarkModeInLocalStorage(),
        'light-mode-purple': !isDarkModeInLocalStorage()
      }"
    >
      <h2
        [ngClass]="{
          'dark-mode-yellow': isDarkModeInLocalStorage(),
          'light-mode-purple': !isDarkModeInLocalStorage()
        }"
      >
        {{ "More News" | translate }}
      </h2>
      <hr />
      <span *ngFor="let item of readMoreItems; let i = index">
        <div
          class="news-item"
          (click)="
            getHomeContentBySlug(
              item?.slug,
              item?.category?.slug,
              item?.category?.name
            )
          "
        >
          <img
            [src]="getFullImagePath(readMoreImages[i])"
            [alt]="'News Item ' + (i + 1)"
          />
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ item?.title }}
          </h2>
        </div>
      </span>
      <hr />
    </div>
  </div>
  <!-- <app-category-details></app-category-details> -->
  <!--  -->
  <!-- <div class="_3_jxX" id="sports">
    <div class="_15XGv">
      <a href="sports"
        ><div class="headline headline-type-9">
          <h1 class="ieh5X _1RXMb">Sports</h1>
        </div></a
      ><a href="sports"
        ><svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 768.000000 768.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <metadata>
            Created by potrace 1.16, written by Peter Selinger 2001-2019
          </metadata>
          <g
            transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M2075 5964 c-37 -19 -261 -239 -281 -276 -18 -35 -18 -101 0 -136 8
-15 395 -407 860 -872 l846 -845 -860 -860 -860 -860 0 -55 c0 -69 5 -77 144
-218 142 -145 187 -170 263 -142 16 6 474 457 1051 1033 1092 1092 1053 1049
1038 1134 -7 34 -109 140 -1029 1062 -598 598 -1035 1029 -1054 1037 -42 18
-81 18 -118 -2z"
            ></path>
            <path
              d="M3725 5966 c-40 -18 -281 -263 -295 -299 -17 -46 -12 -80 19 -128 16
-24 403 -417 860 -874 l831 -830 -854 -855 c-768 -768 -855 -859 -862 -893
-13 -73 5 -102 153 -249 149 -148 175 -162 246 -139 25 9 301 278 1058 1036
562 563 1027 1032 1032 1040 16 29 10 103 -12 137 -30 49 -2021 2034 -2058
2052 -39 19 -78 20 -118 2z"
            ></path>
          </g></svg
      ></a>
    </div>
    <a
      href="https://www.thequint.com/indian-premier-league-ipl/ipl-2024-what-went-wrong-for-mumbai-indians-hardik-pandya-captaincy-faltering-batting"
      ><div class="card-image-wrapper _1o6Zo">
        <figure
          class="qt-image-dynamic image16x9 qt-figure _2NlBL _3-Yad _2JSAU"
        >
          <picture class="qt-image _2X5ZZ"
            ><img
              src="https://images.thequint.com/thequint%2F2024-05%2F87529f35-bffa-4236-a8e8-58936f4bca81%2Fmi__1_.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
              data-src="https://images.thequint.com/thequint%2F2024-05%2F87529f35-bffa-4236-a8e8-58936f4bca81%2Fmi__1_.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
              type="image/webp"
              sizes="(max-width: 400px ) 90vw, ( max-width: 730px ) 90vw,( max-width: 720px ) 50vw"
              class="qt-image image _1tCvn gm-added gm-observing gm-observing-cb"
              alt="" /><noscript></noscript
          ></picture>
        </figure>
        <div class="cardimage-headline-view _327Ov">
          <div class="headline headline-type-4">
            <h2 class="ieh5X _3gpGB">
              IPL 2024: Mumbai Indians’ Fall From Grace – What Went Wrong?
            </h2>
          </div>
        </div>
      </div></a
    >
    <div class="_36LLL">
      <div class="custom-story-card-5 _1Jblu">
        <a
          class="title-wrapper headline-link _3b9Yy"
          href="https://www.thequint.com/indian-premier-league-ipl/ipl-2024-i-am-under-pressure-at-toss-admits-csk-captain-ruturaj-gaikwad"
          ><div class="headline headline-type-4">
            <h2 class="ieh5X _3gpGB">
              IPL 2024: I’m Under Pressure at Toss, Not Sure What To Do –
              Ruturaj Gaikwad
            </h2>
          </div></a
        >
      </div>
      <div class="custom-story-card-5 _1Jblu">
        <a
          class="title-wrapper headline-link _3b9Yy"
          href="https://www.thequint.com/indian-premier-league-ipl/ipl-2024-csk-vs-pbks-spinners-rahul-chahar-harpreet-brar-shine-punjab-kings-beat-chennai-super-kings"
          ><div class="headline headline-type-4">
            <h2 class="ieh5X _3gpGB">
              IPL 2024: Spinners Chahar &amp; Brar Shine for Punjab Kings in
              7-Wicket Win Over CSK
            </h2>
          </div></a
        >
      </div>
    </div>
  </div> -->

  <!--  -->

  <!-- <div
    class="right-section"
    [ngClass]="{ 'dark-mode': themeServiceInstance.isDarkMode() }"
  >
    <div class="stay-updated">
      <h2>Stay Updated</h2>
      <app-subscribe></app-subscribe>
    </div>
    <div class="line"></div>

    <div class="more-news">
      <h2>More News</h2>
      <hr />
      <span *ngFor="let item of readMoreItems; let i = index">
        <div class="news-item" (click)="getHomeContentBySlug(item?.slug)">
          <img
            [src]="getFullImagePath(readMoreImages[i])"
            [alt]="'News Item ' + (i + 1)"
          />
          <p>{{ item?.title }}</p>
        </div>
      </span>
      <hr />
    </div>
  </div> -->
</div>

<div class="container vid-title dark-mode">
  <div class="home-block-titles video-block">
    <img src="../../../../assets/images/videoicon.png" />

    <!-- <svg
      xmlns="http://www.w3.org/2000/svg"
      width="106"
      height="70"
      viewBox="0 0 156 80"
    >
      <path d="M0 0h203v104H0z" fill="rgba(255,255,255,0)"></path>
      <g>
        <path
          d="M58.374 84.492L53 78.691c-7.068-7.734-14.325-15.445-21.417-23.25A4.051 4.051 0 0 0 28.286 54c-4.312 0-8.647-.141-12.959-.4a17.119 17.119 0 0 1-8.553-2.617A14.6 14.6 0 0 1 .6 41.553a30.276 30.276 0 0 1-.589-7.215v-6.6c0-3.867.141-7.711.283-11.578a32.375 32.375 0 0 1 1.038-8.09A10.323 10.323 0 0 1 9.979.359 29.594 29.594 0 0 1 17.59.147q5.278.4 10.508 1.132A122.432 122.432 0 0 1 40.4 3.4a14.306 14.306 0 0 1 10.508 9.432 59.27 59.27 0 0 1 2.356 9.432c1.128 5.519 2.141 11.036 3.136 16.507a18.619 18.619 0 0 1 0 7.263 8.439 8.439 0 0 1-6.173 6.555l-.966.259c-.825.189-.825.189-.589.943l9.589 30.347v.377z"
          fill="#fa9000"
          transform="translate(10.009 10.004)"
        ></path>
      </g>
      <path
        d="M16 10v20.007L34.361 20z"
        fill="#292929"
        transform="translate(12.922 18.535)"
      ></path>
    </svg> -->
    <h2 [ngStyle]="getTagStyle()">{{ "Videos" | translate }}</h2>
  </div>
</div>

<section class="home-video-block dark-mode">
  <div class="container" style="flex-direction: column">
    <div *ngIf="!VideoObject" class="no-data">
      <div>Loading ...</div>
    </div>
    <div class="photos video" *ngIf="VideoObject">
      <div class="photos-left">
        <span (click)="navigateVideos(VideoObject?.slug)">
          <div class="phots-heading">
            <img [src]="getFullImagePath(VideoObject?.image)" />
            <h2 class="dark-color" [ngStyle]="getTagStyleTitle()">
              {{ VideoObject?.title }}
            </h2>
          </div>
        </span>
        <span class="shortDesc">
          {{ VideoObject?.short_description }}
        </span>
      </div>

      <div
        class="photos-right videosRight scroller"
        [ngClass]="{ scrollable: VideoTitle.length > 5 }"
      >
        <div class="phots-box" *ngFor="let title of VideoTitle; index as i">
          <img
            (click)="navigateVideos(title?.slug)"
            [src]="getFullImagePath(title?.image)"
          />
          <h3
            (click)="navigateVideos(title?.slug)"
            class="dark-color"
            [ngStyle]="getTagStyleTitle()"
          >
            {{ title?.title }}
          </h3>
          <span class="shortDesc">
            {{ title?.short_description }}
          </span>
          <hr />
        </div>
      </div>
    </div>
    <div class="_3dJ9b">
      <a href="/home/all-cat-videos"><div class="_3rg6w">SHOW MORE</div></a>
    </div>
  </div>
</section>
<!--  -->

<!-- try -->

<section class="home-photo-block dark-mode">
  <div class="container">
    <div class="home-block-titles photo-blockkk">
      <img src="../../../../assets/images/photoIcon.png" />

      <!-- <svg
        xmlns="http://www.w3.org/2000/svg"
        width="106"
        height="70"
        viewBox="0 0 106.167 42"
      >
        <g transform="translate(-429 -7836)">
          <g transform="translate(429 7836)">
            <path
              d="M29.5 41.984L26.788 39.1c-3.573-3.843-7.242-7.675-10.827-11.553a2.064 2.064 0 0 0-1.667-.715c-2.18 0-4.371-.07-6.551-.2a8.761 8.761 0 0 1-4.323-1.3A7.246 7.246 0 0 1 .3 20.647a14.8 14.8 0 0 1-.3-3.586V13.78c0-1.922.071-3.832.143-5.753a15.831 15.831 0 0 1 .526-4.019A5.188 5.188 0 0 1 5.04.176 15.215 15.215 0 0 1 8.887.071q2.668.2 5.312.562a62.866 62.866 0 0 1 6.217 1.055 7.189 7.189 0 0 1 5.312 4.687 29.043 29.043 0 0 1 1.191 4.687c.572 2.742 1.084 5.484 1.584 8.2a9.1 9.1 0 0 1 0 3.609 4.224 4.224 0 0 1-3.121 3.257l-.488.129c-.417.094-.417.094-.3.469l4.848 15.08V42z"
              transform="translate(.009 .004)"
              fill="#fa9000"
            ></path>
            <g transform="translate(6.468 7.561)">
              <ellipse
                cx="2.298"
                cy="2.259"
                rx="2.298"
                ry="2.259"
                transform="translate(4.883 4.8)"
              ></ellipse>
              <path
                d="M9.027 4L7.712 5.412H5.436A1.424 1.424 0 0 0 4 6.824v8.471a1.424 1.424 0 0 0 1.436 1.412h11.489a1.424 1.424 0 0 0 1.436-1.412V6.824a1.424 1.424 0 0 0-1.436-1.412h-2.276L13.335 4zm2.154 10.588a3.53 3.53 0 1 1 3.59-3.529 3.562 3.562 0 0 1-3.59 3.529z"
                transform="translate(-4 -4)"
              ></path>
            </g>
          </g>
        </g>
      </svg> -->
      <h2 [ngStyle]="getTagStyle()" routerLink="/home/all-photos">
        {{ "Photos" | translate }}
      </h2>
    </div>
    <div class="photos" *ngIf="headingTitle && headingTitle.length > 0">
      <div class="photos-left">
        <span (click)="navigate(homePhotosSlug)">
          <div class="phots-heading">
            <img
              [src]="getFullImagePath(headingTitle[0]?.image)"
              [alt]="headingTitle[0]?.image_description"
            />
            <h2
              [ngClass]="{
                'dark-mode-yellow': isDarkModeInLocalStorage(),
                'light-mode-purple': !isDarkModeInLocalStorage()
              }"
            >
              {{ headingTitle[0]?.title }}
            </h2>
          </div>
        </span>
      </div>

      <div class="photos-right" [class.dark-mode]="darkMode">
        <div class="phots-box" *ngFor="let title of headingTitle">
          <!-- <hr /> -->
          <!-- <div class="insideimage"> -->
          <img
            (click)="navigate(title?.slug)"
            src=""
            [src]="getFullImagePath(title?.image)"
            [alt]="title?.image_alt"
          />
          <h3
            (click)="navigate(title?.slug)"
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ title.title }}
          </h3>

          <span (click)="navigate(title?.slug)" class="shortDesc">{{
            title?.short_description
          }}</span>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div *ngIf="headingTitle && headingTitle.length === 0" class="no-data">
      <div>Loading........</div>
    </div>
  </div>
</section>
<!--  -->
<div data-infinite-scroll="2" style="min-height: 50px">
  <a href="/home/plan_section"
    ><div class="containerA _1rO8K">
      <h2
        [ngClass]="{
          'dark-mode-yellowA': isDarkModeInLocalStorage(),
          'light-mode-purpleA': !isDarkModeInLocalStorage()
        }"
      >
        BECOME A MEMBER
      </h2>
      <span class=""
        ><svg
          class="custom-svg"
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 768.000000 768.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <metadata>
            Created by potrace 1.16, written by Peter Selinger 2001-2019
          </metadata>
          <g
            transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)"
            fill="#000000"
            stroke="none"
          >
            <path
              d="M2075 5964 c-37 -19 -261 -239 -281 -276 -18 -35 -18 -101 0 -136 8
-15 395 -407 860 -872 l846 -845 -860 -860 -860 -860 0 -55 c0 -69 5 -77 144
-218 142 -145 187 -170 263 -142 16 6 474 457 1051 1033 1092 1092 1053 1049
1038 1134 -7 34 -109 140 -1029 1062 -598 598 -1035 1029 -1054 1037 -42 18
-81 18 -118 -2z"
            ></path>
            <path
              d="M3725 5966 c-40 -18 -281 -263 -295 -299 -17 -46 -12 -80 19 -128 16
-24 403 -417 860 -874 l831 -830 -854 -855 c-768 -768 -855 -859 -862 -893
-13 -73 5 -102 153 -249 149 -148 175 -162 246 -139 25 9 301 278 1058 1036
562 563 1027 1032 1032 1040 16 29 10 103 -12 137 -30 49 -2021 2034 -2058
2052 -39 19 -78 20 -118 2z"
            ></path>
          </g>
        </svg>
      </span>
    </div>
  </a>
</div>
<!--Entertainment section Starts from here-->
<section
  class="home-entertain-block"
  [ngClass]="{ 'dark-mode': darkMode, 'light-mode': !darkMode }"
>
  <div class="container">
    <div
      class="entertain-block"
      *ngFor="let category of categoryList; let i = index"
    >
      <div class="entertain-inner-block">
        <div class="entertain-title">
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ category.name }}
          </h2>
          <div>
            <svg
              (click)="navigateToRefresh(category.slug, category?.name)"
              class="arrow"
              version="1.0"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              viewBox="0 0 768.000000 768.000000"
              preserveAspectRatio="xMidYMid meet"
            >
              <metadata [ngClass]="{ 'dark-color': darkMode }">
                Created by potrace 1.16, written by Peter Selinger 2001-2019
              </metadata>
              <g
                [ngClass]="{
                  'dark-mode-arroww': isDarkModeInLocalStorage()
                }"
                transform="translate(0.000000,768.000000) scale(0.100000,-0.100000)"
                fill="#000000"
                stroke="none"
              >
                <path
                  d="M2075 5964 c-37 -19 -261 -239 -281 -276 -18 -35 -18 -101 0 -136 8
                -15 395 -407 860 -872 l846 -845 -860 -860 -860 -860 0 -55 c0 -69 5 -77 144
                -218 142 -145 187 -170 263 -142 16 6 474 457 1051 1033 1092 1092 1053 1049
                1038 1134 -7 34 -109 140 -1029 1062 -598 598 -1035 1029 -1054 1037 -42 18
                -81 18 -118 -2z"
                ></path>
                <path
                  d="M3725 5966 c-40 -18 -281 -263 -295 -299 -17 -46 -12 -80 19 -128 16
                -24 403 -417 860 -874 l831 -830 -854 -855 c-768 -768 -855 -859 -862 -893
                -13 -73 5 -102 153 -249 149 -148 175 -162 246 -139 25 9 301 278 1058 1036
                562 563 1027 1032 1032 1040 16 29 10 103 -12 137 -30 49 -2021 2034 -2058
                2052 -39 19 -78 20 -118 2z"
                ></path>
              </g>
            </svg>
          </div>
        </div>
        <div
          (click)="
            getHomeContentBySlug(
              category.posts[0]?.slug,
              category?.posts[0].category?.slug,
              category?.posts[0].category?.name
            )
          "
          *ngIf="category.posts && category.posts.length > 0"
          class="entertain-image-block"
        >
          <!-- <img
            [src]="category.posts[0]?.image"
            [alt]="'News Item ' + (i + 1)"
          /> -->

          <a
            href="https://www.thequint.com/news/webqoof/deepfake-video-diabetes-news-anchors-parliament-cm-yogi-fact-check"
            ><div class="card-image-wrapper _1o6Zo">
              <figure
                class="qt-image-dynamic image16x9 qt-figure _2NlBL _3-Yad _2JSAU"
              >
                <picture class="qt-image _2X5ZZ"
                  ><img
                    [src]="category.posts[0]?.image"
                    data-src="https://images.thequint.com/thequint%2F2024-05%2F79e22ffb-d72a-423f-9f7c-5da8bb75aec6%2FRujuta_WQ_33_.jpg?auto=format%2Ccompress&amp;fmt=webp&amp;width=540"
                    type="image/webp"
                    sizes="(max-width: 400px ) 90vw, ( max-width: 730px ) 90vw,( max-width: 720px ) 50vw"
                    class="qt-image image _1tCvn gm-added gm-observing gm-observing-cb"
                    alt="" /><noscript></noscript
                ></picture>
              </figure>
              <div class="cardimage-headline-view _327Ov">
                <div class="headline headline-type-4">
                  <h2 class="ieh5X _3gpGB">
                    <span> {{ category.posts[0]?.title }}</span>
                    &amp;<span></span>
                  </h2>
                </div>
              </div></div
          ></a>
        </div>
      </div>
      <div class="entertain-headlines-outer-block">
        <div
          class="enterheadline-block-left enterblock-shadow"
          (click)="
            getHomeContentBySlug(
              category.posts[1]?.slug,
              category?.posts[1].category?.slug,
              category?.posts[1].category?.name
            )
          "
        >
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ category.posts[1]?.title }}
          </h2>
          <span class="shortDesc">
            {{ category.posts[1]?.short_description }}
          </span>
        </div>
        <div
          class="enterheadline-block-right enterblock-shadow"
          (click)="
            getHomeContentBySlug(
              category.posts[2]?.slug,
              category?.posts[2].category?.slug,
              category?.posts[2].category?.name
            )
          "
        >
          <h2
            [ngClass]="{
              'dark-mode-yellow': isDarkModeInLocalStorage(),
              'light-mode-purple': !isDarkModeInLocalStorage()
            }"
          >
            {{ category.posts[2]?.title }}
          </h2>
          <span class="shortDesc">
            {{ category.posts[2]?.short_description }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="most-viewd-wrapper">
  <div class="container">
    <div class="section-most-viewed">
      <app-most-viewed [content_type]="conent_type"></app-most-viewed>
    </div>
  </div>
</section>

<!-- Become a member -->
