.content-item {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  max-width: 1280px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.category-image img {
  width: 400px;
  height: 300px;
  margin-right: 10px;
}

.content-details {
  flex: 1;
}

.content-details h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.content-details p {
  font-size: 14px;
  color: #555;
}
