<div class="container top-headlines dark-mode">
  <div class="left-section">
    <a (click)="getHomeContentBySlug(homeContent.slug)">
      <div class="category-image">
        <img
          [src]="getFullImagePath(homeContent.image)"
          [alt]="homeContent?.image_alt"
        />
      </div>
      <div class="content-details">
        <h1>{{ homeContent.title }}</h1>
        <p>{{ homeContent.short_description }}</p>
      </div>
    </a>
    <div class="hometitle">
      <div class="news-left">
        <div class="box" *ngFor="let items of homeInfo">{{ items }}</div>
      </div>
      <div class="news-right">
        <div class="news-right-title">
          <img
            [src]="getFullImagePath(belowContent[3].image)"
            [alt]="belowContent[3]?.image_alt"
          />
          <h1>{{ belowContent[3].title }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="right-section">
    <div class="stay-updated">
      <h2>Stay Updated</h2>
      <app-subscribe></app-subscribe>
    </div>
    <div class="line"></div>

    <div class="more-news">
      <h2>More News</h2>
      <hr />
      <div class="news-item" *ngFor="let item of readMoreItems; let i = index">
        <img
          [src]="getFullImagePath(readMoreImages[i])"
          [alt]="'News Item ' + (i + 1)"
        />
        <p>{{ item }}</p>
      </div>
      <hr />
    </div>
  </div>
</div>

<div class="container vid-title dark-mode">
  <h2>Videos</h2>
</div>

<section class="home-video-block dark-mode">
  <div class="container">
    <div class="photos video">
      <div class="photos-left">
        <span (click)="navigateVideos(VideoObject?.slug)">
          <div class="phots-heading">
            <img [src]="getFullImagePath(VideoObject?.image)" />
            <h3 class="dark-color">{{ VideoObject?.title }}</h3>
          </div>
        </span>
      </div>

      <div class="photos-right videosRight">
        <div class="phots-box" *ngFor="let title of VideoTitle; index as i">
          <img [src]="getFullImagePath(videoImages[i])" />
          <h3 class="dark-color">{{ title }}</h3>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="home-photo-block dark-mode">
  <div class="container">
    <h2>Photos</h2>
    <div class="photos">
      <div class="photos-left">
        <span (click)="navigate(homePhotosSlug)">
          <div class="phots-heading">
            <img src="{{ imagetitle }}" alt="" />
            <h3 class="dark-color">{{ headingTitle[0] }}</h3>
          </div>
        </span>
      </div>

      <div class="photos-right">
        <div class="phots-box" *ngFor="let title of headingTitle">
          <hr />
          <h3 class="dark-color">{{ title }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
